Repository Symbiosis-Lab/moss-plugins: changes, and which Codecov flags are due for each by the changed paths.
All: github, matters, email

fix: scope matters auth token to project storage, preventing cross-project leaks
  matters/src/__tests__/api.test.ts
  matters/src/__tests__/binding-guard.test.ts
  matters/src/__tests__/main.test.ts
  matters/src/api.ts
  matters/src/main.ts
Due: matters

fix: move .moss gitignore ownership into .moss/.gitignore
  github/src/github-deploy.ts
Due: github

test(github-deploy): align tests with moved .gitignore ownership
  github/src/__tests__/github-deploy.test.ts
Due: github

refactor(build): address architecture-review feedback
  github/e2e/moss-cli.test.ts
  matters/e2e/moss-cli.test.ts
Due: github, matters

refactor(build): sweep remaining compile refs in plugin tests and fixture READMEs
  github/e2e/moss-cli.test.ts
  github/features/steps/deploy.steps.ts
  github/src/__tests__/deploy.integration.test.ts
  github/src/main.ts
  github/vitest.config.ts
  matters/e2e/moss-cli.test.ts
Due: github, matters

fix(release): CI failures on v0.6.4 release PR
  github/features/deploy/validation.feature
Due: github

fix(deploy): syndicate strictly post-deploy + path/heartbeat/titlebar fixes
  github/src/github-deploy.ts
  github/src/main.ts
  matters/src/__tests__/main.test.ts
  matters/src/main.ts
Due: github, matters

fix(deploy): apply code/arch review feedback
  matters/src/__tests__/main.test.ts
  matters/src/main.ts
Due: matters

fix(matters): hrefs/title-h1 in draft + titlebar strip painted
  matters/src/__tests__/main.test.ts
  matters/src/main.ts
Due: matters

fix(deploy): apply followup-PR review feedback
  matters/src/__tests__/main.test.ts
Due: matters

perf(matters): skip per-article comments fetch when commentCount unchanged
  matters/src/__tests__/api.test.ts
  matters/src/__tests__/binding-guard.test.ts
  matters/src/__tests__/social.test.ts
  matters/src/api.ts
  matters/src/main.ts
  matters/src/social.ts
  matters/src/types.ts
Due: matters

fix(matters): pass entityId on embed uploads, mirror cover-upload reorder
  matters/src/__tests__/main.test.ts
  matters/src/api.ts
  matters/src/main.ts
Due: matters

fix(matters): apply code/arch review feedback
  matters/src/__tests__/main.test.ts
  matters/src/main.ts
Due: matters

fix(plugin-linkedin): emit canonical ![alt](src) markdown not raw <img>
  linkedin/src/__tests__/converter.test.ts
  linkedin/src/converter.ts
Due: none

fix(plugin-substack): emit canonical ![alt](src) markdown not raw <img>
  substack/src/__tests__/converter.test.ts
  substack/src/converter.ts
Due: none

docs(plugin-xiaohongshu): note canonical ![alt](src) emission per Decision #9
  xiaohongshu/src/converter.ts
  xiaohongshu/src/pull.ts
Due: none

fix(plugin-x): emit canonical ![alt](src) markdown not raw <img>
  x/src/__tests__/converter.test.ts
  x/src/converter.ts
Due: none

fix(plugin-matters): drop <img> → <figure class=image> wrap
  matters/src/__tests__/main.test.ts
  matters/src/main.ts
Due: matters

fix(plugin-matters): restore figure.image wrap for matters' sanitizer
  matters/src/__tests__/main.test.ts
  matters/src/main.ts
Due: matters

feat(plugins): add Capability::Import, PluginHook, TriggerContext enums
  matters/assets/manifest.json
Due: matters

chore(bindings): regenerate after report_plugin_task_lifecycle + startTask
  matters/src/__tests__/test-profile-escape.test.ts
Due: matters

feat(matters): MOSS_MATTERS_TEST_PROFILE env var bypasses login (API + UI)
  matters/src/__tests__/binding-guard.test.ts
  matters/src/__tests__/test-profile-escape.test.ts
  matters/src/main.ts
Due: matters

feat: open-source release pipeline
  CONTRIBUTING.md
  LICENSE
  README.md
  RELICENSING.md
  SECURITY.md
  archive/astro/package.json
  archive/eleventy/package.json
  archive/gatsby/package.json
  archive/hugo/package.json
  archive/jekyll/package.json
  douban/package.json
  github/package.json
  github/src/__tests__/deploy.integration.test.ts
  github/src/__tests__/git.test.ts
  linkedin/package.json
  matters/package.json
  matters/test-helpers/TEST_ACCOUNT.md
  substack/package.json
  x/package.json
  xiaohongshu/package.json
Due: github, matters

docs: polish mirror READMEs + CONTRIBUTING + CoC + CHANGELOGs + issue templates
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  CHANGELOG.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
  douban/README.md
  github/README.md
  linkedin/README.md
  matters/README.md
  substack/README.md
  x/README.md
  xiaohongshu/README.md
Due: github, matters

feat(matters): MOSS_MATTERS_DOMAIN env var to switch test/prod domain in-webview
  matters/src/domain.ts
Due: matters

fix(plugins-douban): add missing test:coverage script
  douban/package.json
Due: none

feat(matters): use startTask() API for hairline progress during import
  matters/src/__tests__/binding-guard.test.ts
  matters/src/__tests__/main.test.ts
  matters/src/main.ts
Due: matters

fix(matters): moss-injected trigger context + terminate leaked tasks
  matters/src/main.ts
Due: matters

docs: design for moss CLI on $PATH (in-app symlink installer)
  archive/astro/dist/main.bundle.js
  archive/astro/dist/manifest.json
  archive/eleventy/dist/main.bundle.js
  archive/eleventy/dist/manifest.json
  archive/gatsby/dist/main.bundle.js
  archive/gatsby/dist/manifest.json
  archive/jekyll/dist/main.bundle.js
  archive/jekyll/dist/manifest.json
  package-lock.json
Due: none

chore(readme): slim mirror badges — keep essentials, drop premature signal
  README.md
Due: none

fix(matters): grid cells use +++ divider, not ::: (B1 blocker)
  matters/src/__tests__/sync.test.ts
  matters/src/sync.ts
Due: matters

fix(matters): emit filename-only wikilinks for assets (B2/B8)
  matters/features/steps/self-correcting.steps.ts
  matters/src/__tests__/downloader.test.ts
  matters/src/downloader.ts
Due: matters

fix(matters): convert HTML via moss's shared htmd converter (B3/B4)
  matters/src/sync.ts
Due: matters

feat(matters): language-aware article folder (文章 for Chinese) — G
  matters/src/__tests__/folder-detection.test.ts
  matters/src/api.ts
  matters/src/queries/user.graphql
  matters/src/sync.ts
Due: matters

fix(matters): pre-merge review fixes (G runtime no-op, title wikilink, hairline clip, docs)
  matters/src/__tests__/downloader.test.ts
  matters/src/api.ts
  matters/src/downloader.ts
  matters/src/types.ts
Due: matters

chore(codegen): regenerate matters types after adding article `language`
  matters/src/__generated__/types.ts
Due: matters

fix(matters): trim tag whitespace + localize legacy non-UUID assets (B10/B6)
  matters/src/__tests__/downloader.test.ts
  matters/src/__tests__/sync.test.ts
  matters/src/downloader.ts
  matters/src/sync.ts
Due: matters

refactor(matters): delete dead hand-rolled HTML→Markdown converter (B4)
  matters/src/__tests__/converter.test.ts
  matters/src/converter.ts
Due: matters

feat(matters): generate self-named home + home:true marker
  matters/src/__tests__/sync.test.ts
  matters/src/converter.ts
  matters/src/main.ts
  matters/src/sync.ts
  matters/src/types.ts
Due: matters

fix(build): rebuild bundled plugins correctly + fail loudly; bump matters 1.1.1
  matters/assets/manifest.json
Due: matters

Path conditions:
  github: any of: github/
  matters: any of: matters/
  email: any of: email/
