Repository Symbiosis-Lab/moss-plugins: changes, and which Codecov flags are due for each by the changed paths.
All: github, matters, email

fix(matters): stop re-downloading dead media every build; surface failures in settings
  CHANGELOG.md
  matters/CHANGELOG.md
  matters/assets/manifest.json
  matters/package.json
  matters/src/__tests__/downloader.test.ts
  matters/src/__tests__/failed-media-memo.test.ts
  matters/src/downloader.ts
  matters/src/failed-media.ts
  matters/src/main.ts
Due: matters

fix(matters): quiet no-network sync failure + settings sync-status row (B3B6, B4B5)
  matters/src/main.ts
Due: matters

chore(matters): bump plugin to 1.4.5 (src changed: error-routing) + changelog
  matters/CHANGELOG.md
  matters/assets/manifest.json
  matters/package.json
Due: matters

fix(matters/i18n): unblock staging Matters journey + localize channel names
  matters/src/credential.ts
  matters/src/domain.ts
Due: matters

test(matters/i18n): add regression tests for cookie-name derivation + channelName resolver (A2/A4)
  matters/src/__tests__/domain.test.ts
Due: matters

docs(changelog): fill gaps found while writing v0.7.15 release notes
  matters/CHANGELOG.md
Due: matters

feat(matters): surface last sync error in settings + give Matters a proper tab
  matters/src/config.ts
  matters/src/main.ts
Due: matters

fix(matters): remove dead toggles, fix Add Canonical Link default, rename Sync On Build
  matters/CHANGELOG.md
  matters/assets/manifest.json
  matters/package.json
  matters/src/__tests__/folder-detection.test.ts
  matters/src/config.ts
  matters/src/sync.ts
Due: matters

docs(changelog): correct github [Unreleased] to reflect the #816 deploy fix
  CHANGELOG.md
  github/CHANGELOG.md
Due: github

fix(matters): stop re-creating locally renamed collection folders on sync
  CHANGELOG.md
  matters/CHANGELOG.md
  matters/src/__tests__/collection-identity.test.ts
  matters/src/__tests__/converter.test.ts
  matters/src/__tests__/domain.test.ts
  matters/src/converter.ts
  matters/src/domain.ts
  matters/src/sync.ts
Due: matters

fix(matters): harden collection identity per review findings
  matters/CHANGELOG.md
  matters/src/__tests__/collection-identity.test.ts
  matters/src/__tests__/converter.test.ts
  matters/src/converter.ts
  matters/src/main.ts
  matters/src/sync.ts
  matters/src/types.ts
Due: matters

chore(release): bump matters plugin 1.4.6 -> 1.4.7 (source changed this cycle)
  CHANGELOG.md
  matters/CHANGELOG.md
  matters/package.json
Due: matters

chore(release): bump matters manifest to 1.4.7 to match package.json
  matters/assets/manifest.json
Due: matters

fix(deps): refresh stale npm security overrides; audit the lockfile cargo reads
  github/package.json
  matters/package.json
  terrarium/package.json
Due: github, matters

feat(matters): reshape P1 math into the shapes matters' sanitizer keeps
  matters/src/__tests__/main.test.ts
  matters/src/main.ts
  matters/test-fixtures/syndication-test-site/expected-matters-body.html
  matters/test-fixtures/syndication-test-site/input/posts/rich-test-article.md
  matters/test-fixtures/syndication-test-site/moss-emitted-body.html
Due: matters

fix(matters): match the paragraph shape production actually sends
  matters/src/__tests__/main.test.ts
  matters/src/main.ts
  matters/test-fixtures/syndication-test-site/expected-matters-body.html
  matters/test-fixtures/syndication-test-site/moss-emitted-body.html
Due: matters

docs(matters): record the math syndication fix and bump to 1.4.8
  CHANGELOG.md
  matters/CHANGELOG.md
  matters/assets/manifest.json
  matters/package.json
Due: matters

fix(matters): degrade P2 typeset math <svg> to LaTeX source for syndication
  matters/CHANGELOG.md
  matters/package.json
  matters/src/__tests__/main.test.ts
  matters/src/main.ts
Due: matters

build: make plugins buildable standalone (pin moss-api, add lockfiles)
  github/package-lock.json
  github/package.json
  matters/package-lock.json
  matters/package.json
  terrarium/package-lock.json
  terrarium/package.json
Due: github, matters

feat(registry): convert from read-only mirror into the plugin registry repo
  .github/scripts/validate-plugin.mjs
  .github/workflows/validate.yml
  CONTRIBUTING.md
  README.md
  registry/README.md
  registry/revoked.json
Due: none

fix(plugins): bring plugins into compliance; correct matters' manifest version
  github/README.md
  github/assets/manifest.json
  matters/README.md
  matters/assets/manifest.json
  terrarium/README.md
Due: github, matters

docs: rename to moss-registry; name the plugin/theme distinction
  .github/ISSUE_TEMPLATE/config.yml
  CONTRIBUTING.md
  README.md
  WIP/douban/package.json
  WIP/linkedin/package.json
  WIP/substack/package.json
  WIP/x/package.json
  WIP/xiaohongshu/package.json
  github/package.json
  matters/package.json
  registry/README.md
  terrarium/package.json
Due: github, matters

fix: matters unit env + scope registry CI to unit tests
  .github/workflows/validate.yml
  CONTRIBUTING.md
  matters/src/__tests__/collection-identity.test.ts
Due: matters

Path conditions:
  github: any of: github/
  matters: any of: matters/
  email: any of: email/
