Repository Symbiosis-Lab/moss-plugins: changes, and which Codecov flags are due for each by the changed paths.
All: github, matters

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 70%
    patch:
      default:
        target: 80%

flags:
  github:
    paths:
      - github/
    carryforward: true
  matters:
    paths:
      - matters/
    carryforward: true
  # Add more plugins as they're added to the repo

fix(matters): clean exit when login window closed
  matters/package-lock.json
  matters/package.json
  matters/src/__tests__/api.test.ts
  matters/src/api.ts
  matters/src/main.ts
Due: matters

release: github plugin v1.2.0
  github/assets/manifest.json
Due: github

feat: show repo setup in integrated browser panel
  github/assets/manifest.json
  github/src/__tests__/repo-setup.test.ts
  github/src/repo-setup.ts
Due: github

feat: use showBrowserForm + mossApi bridge for repo setup
  github/assets/manifest.json
  github/src/__tests__/repo-setup.test.ts
  github/src/repo-setup.ts
Due: github

fix: restore @symbiosis-lab/moss-api devDependency (^0.7.9)
  github/package-lock.json
  github/package.json
Due: github

fix: handle nullable return from getPluginCookie()
  github/src/token.ts
Due: github

fix(github): increase push timeout and add keepalive for large sites
  github/src/__tests__/deploy.integration.test.ts
  github/src/git.ts
  github/src/main.ts
Due: github

Add verification screenshots for PR
  docs/screenshots/01-preview-site.png
  docs/screenshots/02-app-shell-publish.png
  docs/screenshots/03-deploy-success-log.png
  docs/screenshots/04-test-results.png
Due: none

Update screenshot: live site after CLI deploy
  docs/screenshots/01-preview-site.png
  docs/screenshots/02-app-shell-publish.png
  docs/screenshots/03-deploy-success-log.png
  docs/screenshots/04-test-results.png
  docs/screenshots/live-site.png
Due: none

feat(email-newsletter): add enhance hook, refactor syndicate to drafts
  email-newsletter/assets/manifest.json
  email-newsletter/dist/main.bundle.js
  email-newsletter/package-lock.json
  email-newsletter/src/__tests__/enhance.test.ts
  email-newsletter/src/__tests__/main.test.ts
  email-newsletter/src/buttondown.ts
  email-newsletter/src/enhance.ts
  email-newsletter/src/main.ts
  email-newsletter/src/types.ts
Due: none

chore: bump moss-api to ^0.7.10 (adds httpGet)
  email-newsletter/package-lock.json
  email-newsletter/package.json
Due: none

feat(matters): make Matters domain configurable
  matters/src/__tests__/domain.test.ts
  matters/src/config.ts
  matters/src/domain.ts
  matters/src/downloader.ts
  matters/src/main.ts
  matters/src/sync.ts
Due: matters

test: add syndication test fixture with rich article
  matters/test-fixtures/syndication-test-site/input/index.md
  matters/test-fixtures/syndication-test-site/input/posts/rich-test-article.md
Due: matters

rename: email-newsletter → email
  codecov.yml
  email/assets/manifest.json
  email/dist/main.bundle.js
  email/dist/manifest.json
  email/package-lock.json
  email/package.json
  email/src/__tests__/enhance.test.ts
  email/src/__tests__/main.test.ts
  email/src/buttondown.ts
  email/src/enhance.ts
  email/src/main.ts
  email/src/tracking.ts
  email/src/types.ts
  email/tsconfig.json
  email/vitest.config.ts
Due: none

feat(matters): prefer html_content for syndication
  matters/src/__tests__/syndication.test.ts
  matters/src/main.ts
Due: matters

chore: update moss-api to 0.7.11 (adds html_content type)
  matters/package-lock.json
Due: matters

feat: add comment plugin with custom UI
  comment/assets/icon.svg
  comment/assets/manifest.json
  comment/browser/moss-comments.css
  comment/package-lock.json
  comment/package.json
  comment/src/article-mapper.ts
  comment/src/client-js.ts
  comment/src/inject.ts
  comment/src/main.ts
  comment/src/providers/index.ts
  comment/src/providers/waline.ts
  comment/src/render.ts
  comment/src/social-reader.ts
  comment/src/types.ts
  comment/tsconfig.json
Due: none

docs: add comment plugin screenshots
  comment/docs/comment-plugin-mobile.png
  comment/docs/comment-plugin-preview.png
Due: none

fix(comment): add global_name to manifest
  comment/assets/manifest.json
Due: none

fix(email): add missing icon.svg — lost during rename from email-newsletter
  email/assets/icon.svg
  email/assets/manifest.json
  email/dist/icon.svg
  email/dist/manifest.json
  email/package.json
Due: none

docs(comment): add Waline server setup guide
  comment/docs/SETUP.md
Due: none

feat(matters): sync homepage grid from pinned works + collection ordering
  matters/features/sync/homepage-grid.feature
  matters/src/__tests__/api.test.ts
  matters/src/__tests__/folder-detection.test.ts
  matters/src/__tests__/sync.test.ts
  matters/src/api.ts
  matters/src/sync.ts
  matters/src/types.ts
Due: matters

fix(matters): convert <br> to CommonMark hard line break
  matters/src/__tests__/converter.test.ts
  matters/src/converter.ts
Due: matters

chore(matters): bump version to 1.1.0
  matters/assets/manifest.json
Due: matters

refactor: decouple comment plugin from Matters, use article-map.json
  comment/docs/SETUP.md
  comment/package.json
  comment/src/article-mapper.ts
  comment/src/main.ts
  comment/src/social-reader.ts
  comment/src/types.ts
  matters/src/main.ts
  matters/src/social.ts
  matters/src/types.ts
Due: matters

simplify: minimal comment section, fix alignment
  comment/browser/moss-comments.css
  comment/docs/comment-plugin-mobile.png
  comment/docs/comment-plugin-preview.png
  comment/src/client-js.ts
  comment/src/main.ts
  comment/src/providers/index.ts
  comment/src/providers/waline.ts
  comment/src/render.ts
  comment/src/social-reader.ts
  comment/src/types.ts
Due: none

fix: prevent timeout and improve browser lifecycle in GitHub deployment
  github/src/__tests__/auth.test.ts
  github/src/__tests__/progress-timeout.test.ts
  github/src/__tests__/repo-setup-progress.test.ts
  github/src/__tests__/repo-setup.test.ts
  github/src/auth.ts
  github/src/main.ts
  github/src/repo-setup.ts
  github/src/utils.ts
Due: github

chore: bump to v1.1.0 with moss-api@0.7.12
  github/package-lock.json
  github/package.json
Due: github

chore: bump github plugin to v1.5.0
  github/assets/manifest.json
  github/package.json
Due: github

chore: update paths and config for monorepo structure
  .github/workflows/release-plugin.yml
  .github/workflows/test.yml
Due: none

fix: address CodeQL High findings in comment plugin
  comment/package-lock.json
  comment/package.json
  comment/src/client-js.ts
  comment/src/render.ts
Due: none

chore: enable workspace protocol for local moss-api references
  astro/package.json
  comment/package.json
  eleventy/package.json
  email/package.json
  gatsby/package.json
  github/package.json
  hugo/package.json
  jekyll/package.json
  matters/package.json
  nostr/package.json
Due: github, matters

fix: address CodeQL security findings
  github/src/validation.ts
  hugo/src/__tests__/binary-resolver.e2e.ts
  matters/src/converter.ts
  matters/src/domain.ts
Due: github, matters

fix: use spawnSync to prevent command injection in Hugo tests
  hugo/src/__tests__/binary-resolver.e2e.ts
Due: none

fix: add missing dev script to comment plugin
  comment/package.json
Due: none

feat(github): migrate to manual browser control pattern
  github/src/__tests__/repo-setup-progress.test.ts
  github/src/__tests__/repo-setup.test.ts
  github/src/repo-setup.ts
Due: github

fix(github): fix memory leak and browser close timing in repo setup
  github/src/__tests__/repo-setup-progress.test.ts
  github/src/__tests__/repo-setup.test.ts
  github/src/repo-setup.ts
Due: github

refactor(nostr): migrate from deprecated log() to console.log()
  nostr/src/__tests__/enhance.test.ts
  nostr/src/__tests__/process.test.ts
  nostr/src/main.ts
Due: none

refactor(comment): migrate from log() to console.log()
  comment/src/main.ts
  comment/src/social-reader.ts
Due: none
