Repository Symbiosis-Lab/moss-plugins: changes, and which Codecov flags are due for each by the changed paths.
All: github, matters, email

Merge refactor/remove-github-from-core: remove GitHub-specific logic from moss core
  github/src/__tests__/deploy.integration.test.ts
  github/src/main.ts
Due: github

fix(comment): remove redundant border-bottom from form, add breathing room
  comment/browser/moss-comments.css
  comment/src/__tests__/css-design-principles.test.ts
Due: none

refactor(email): migrate enhance hook to pure transformer pattern
  email/src/__tests__/enhance.test.ts
  email/src/enhance.ts
Due: email

refactor(comment): migrate enhance hook to pure transformer pattern
  comment/src/__tests__/enhance.test.ts
  comment/src/main.ts
  comment/src/types.ts
Due: none

fix(comment): newest-first sort order + increase form spacing
  comment/browser/moss-comments.css
  comment/src/__tests__/css-design-principles.test.ts
  comment/src/__tests__/providers/artalk.test.ts
  comment/src/__tests__/social-reader.test.ts
  comment/src/providers/artalk.ts
  comment/src/social-reader.ts
Due: none

fix(comment): inline CSS via <style> tags instead of writeFile
  comment/src/__tests__/enhance.test.ts
  comment/src/__tests__/inject.test.ts
  comment/src/inject.ts
  comment/src/main.ts
Due: none

fix(comment): remove dead rootRelativePrefix, add case-insensitive head match
  comment/src/__tests__/inject.test.ts
  comment/src/inject.ts
Due: none

chore: update gitignore, untrack email plugin dist, sync bindings
  email/dist/main.bundle.js
Due: email

fix: format skipped-files warning toast as multi-line list
  github/src/github-deploy.ts
Due: github

fix: request Pages rebuild when GitHub fails to trigger on force-push
  github/src/__tests__/deploy.integration.test.ts
  github/src/github-api.ts
  github/src/main.ts
Due: github

fix: relax website URL validation in comment form
  comment/src/providers/artalk.ts
  comment/src/render.ts
Due: none

fix: align comment plugin with Artalk v2.9.1 response format
  comment/src/__tests__/fetcher.test.ts
  comment/src/__tests__/providers/artalk.test.ts
  comment/src/fetcher.ts
  comment/src/providers/artalk.ts
Due: none

fix: switch Artalk to per-page fetch (v2.9.1 requires page_key)
  comment/src/__tests__/process.test.ts
  comment/src/main.ts
Due: none

perf: restore batch Artalk fetch via stats/latest_comments endpoint
  comment/src/__tests__/fetcher.test.ts
  comment/src/__tests__/process.test.ts
  comment/src/fetcher.ts
  comment/src/main.ts
Due: none

feat(review): scaffold review plugin with manifest and config
  review/assets/icon.svg
  review/assets/manifest.json
  review/browser/review.css
  review/package.json
  review/tsconfig.json
  review/vitest.config.ts
Due: none

feat(review): add type definitions
  review/src/types.ts
Due: none

feat(review): NeoDB API client with URL parsing and response normalization
  review/src/__tests__/fixtures/neodb-book.json
  review/src/__tests__/fixtures/neodb-movie.json
  review/src/__tests__/neodb.test.ts
  review/src/neodb.ts
Due: none

feat(review): social data writer for .moss/social/review.json
  review/src/__tests__/social-writer.test.ts
  review/src/social-writer.ts
Due: none

feat(review): HTML rendering for header and colophon
  review/src/__tests__/render.test.ts
  review/src/render.ts
Due: none

feat(review): HTML injection utilities for header, colophon, and CSS
  review/src/__tests__/inject.test.ts
  review/src/inject.ts
Due: none

feat(review): process and enhance hooks
  review/src/__tests__/main.test.ts
  review/src/main.ts
Due: none

feat(review): CSS for header and colophon
  review/browser/review.css
Due: none

fix(review): derive source path from url_path when source_path is empty
  review/src/main.ts
Due: none

fix(review): use nullish coalescing for pages/isbn and consistent CSS fallback
  review/browser/review.css
  review/src/neodb.ts
Due: none

fix(review): inject colophon before comment section, not after
  review/src/__tests__/inject.test.ts
  review/src/inject.ts
Due: none

fix(review): use remote cover URL instead of local download
  review/src/__tests__/main.test.ts
  review/src/__tests__/render.test.ts
  review/src/__tests__/social-writer.test.ts
  review/src/inject.ts
  review/src/main.ts
  review/src/render.ts
  review/src/types.ts
Due: none

fix: move comment section outside <article> per HTML5 semantics
  comment/src/__tests__/inject.test.ts
  comment/src/inject.ts
  review/src/__tests__/inject.test.ts
  review/src/inject.ts
Due: none

fix: folder cover title/description beside cover, video/iframe support
  matters/src/sync.ts
Due: matters

style: fix comment section width/spacing and add reply CSS
  comment/browser/moss-comments.css
Due: none

feat: add i18n strings for comment reply feature
  comment/src/i18n.ts
Due: none

feat: add reply button to comments and collapsible form slot
  comment/src/__tests__/render.test.ts
  comment/src/render.ts
Due: none

feat: wire inline reply logic in Artalk client script
  comment/src/providers/artalk.ts
Due: none

fix: move reply state vars before use, increase slideDown max-height
  comment/browser/moss-comments.css
  comment/src/providers/artalk.ts
Due: none

fix: move padding from .moss-comments to inner details element
  comment/browser/moss-comments.css
Due: none

style: increase comment section top margin to 6rem
  comment/browser/moss-comments.css
Due: none

fix: align comment divider with article text by moving border to inner details
  comment/browser/moss-comments.css
Due: none

fix: update email plugin to target footer-right div
  email/src/__tests__/enhance.test.ts
  email/src/enhance.ts
Due: email

fix: email plugin injects form into footer-right correctly
  email/src/__tests__/enhance.test.ts
  email/src/enhance.ts
Due: email

feat: add getSlotContent() to email, comment, and review plugins (Phase 3)
  comment/assets/manifest.json
  comment/src/main.ts
  email/assets/manifest.json
  email/src/main.ts
  review/assets/manifest.json
  review/src/main.ts
Due: email

Path conditions:
  github: any of: github/
  matters: any of: matters/
  email: any of: email/
