Repository Symbiosis-Lab/moss-plugins: changes, and which Codecov flags are due for each by the changed paths.
All: github, matters, email

test(matters): add unit tests for fetchAllDraftsSince()
  matters/src/__tests__/api.test.ts
Due: matters

fix: footer styling, email plugin i18n, and HTML lang attribute
  email/dist/main.bundle.js
  email/src/__tests__/enhance.test.ts
  email/src/enhance.ts
Due: email

refactor: comment plugin reads site_name from project_info, remove config field
  comment/assets/manifest.json
  comment/src/__tests__/enhance.test.ts
  comment/src/__tests__/process.test.ts
  comment/src/main.ts
  comment/src/types.ts
Due: none

feat: add UI metadata and default_comments config to plugin manifests
  comment/assets/manifest.json
  email/assets/manifest.json
Due: email

feat: add default_comments config support to comment plugin enhance hook
  comment/src/__tests__/enhance.test.ts
  comment/src/main.ts
Due: none

feat(comment): add site_name to plugin config for Artalk
  comment/assets/manifest.json
  comment/src/__tests__/enhance.test.ts
  comment/src/__tests__/process.test.ts
  comment/src/main.ts
Due: none

fix(comment): inline CSS to prevent deletion by stale cleanup
  comment/src/__tests__/inject.test.ts
  comment/src/inject.ts
  comment/src/main.ts
Due: none

fix(footer): align items baseline + move subscribe CSS to email plugin
  email/browser/email-subscribe.css
  email/dist/email-subscribe.css
  email/dist/main.bundle.js
  email/dist/manifest.json
  email/package.json
  email/src/__tests__/enhance.test.ts
  email/src/__tests__/inject.test.ts
  email/src/enhance.ts
  email/src/inject.ts
Due: email

feat(comment): redesign comment section with collapsible toggle, threaded replies, and underline form
  comment/browser/moss-comments.css
  comment/src/__tests__/render.test.ts
  comment/src/render.ts
Due: none

feat(github): add auth UI panel with device code display and cancellation
  github/src/__tests__/auth-flow.integration.test.ts
  github/src/auth.ts
  github/src/types.ts
  github/test-helpers/mock-github-api.ts
Due: github

style(comment): polish CSS — chevron, threading, textarea, button, form card
  comment/browser/moss-comments.css
Due: none

feat(comment): add i18n support for EN, zh-Hans, zh-Hant
  comment/src/__tests__/enhance.test.ts
  comment/src/__tests__/i18n.test.ts
  comment/src/__tests__/render.test.ts
  comment/src/i18n.ts
  comment/src/main.ts
  comment/src/render.ts
Due: none

feat(comment): i18n for client JS and button text
  comment/src/__tests__/client-js-i18n.test.ts
  comment/src/__tests__/render.test.ts
  comment/src/client-js.ts
  comment/src/main.ts
  comment/src/providers/artalk.ts
  comment/src/providers/index.ts
  comment/src/providers/waline.ts
  comment/src/render.ts
Due: none

fix(comment): update CSS section comment to match solid threading style
  comment/browser/moss-comments.css
Due: none

fix(comment): code review fixes — stale comment, dark-mode button
  comment/browser/moss-comments.css
Due: none

fix(comment): use page language for date formatting instead of hardcoded en-US
  comment/src/__tests__/render.test.ts
  comment/src/render.ts
Due: none

refactor: rename plugin-browser to action-panel across codebase
  github/src/__tests__/auth-flow.integration.test.ts
  github/src/utils.ts
Due: github

feat(comment): replace unicode chevron with Lucide SVG icon
  comment/browser/moss-comments.css
Due: none

fix(comment): improve zero-comment state with concise summary text
  comment/browser/moss-comments.css
  comment/src/__tests__/enhance.test.ts
  comment/src/__tests__/i18n.test.ts
  comment/src/__tests__/render.test.ts
  comment/src/i18n.ts
Due: none

fix(comment): improve blockquote styling in comment body
  comment/browser/moss-comments.css
Due: none

fix(comment): use uidToUrl for page collection in enhance hook
  comment/src/main.ts
Due: none

feat(comment): move comment form before existing comments
  comment/src/__tests__/render.test.ts
  comment/src/client-js.ts
  comment/src/providers/artalk.ts
  comment/src/render.ts
Due: none

refactor: remove "collection" concept, simplify to folder-based model
  matters/features/sync/article-sync.feature
  matters/src/__tests__/converter.test.ts
  matters/src/__tests__/sync.test.ts
  matters/src/converter.ts
  matters/src/sync.ts
  matters/src/types.ts
Due: matters

feat(plugins): auto-install comment plugin and skip save on empty settings
  comment/assets/manifest.json
Due: none

fix(email): align footer subscribe button with input baseline
  email/browser/email-subscribe.css
  email/dist/email-subscribe.css
Due: email

fix(comment): log errors in processHtmlFile instead of silently swallowing
  comment/src/main.ts
Due: none

fix(deploy): include CNAME in gh-pages and validate DNS polling responses
  github/src/__tests__/github-deploy.test.ts
  github/src/github-deploy.ts
  github/src/main.ts
Due: github

revert: remove auto_install plugin feature from PR #421
  comment/assets/manifest.json
Due: none

fix(comment): inject comment form on all articles when server_url is set
  comment/assets/manifest.json
  comment/src/__tests__/fetcher.test.ts
  comment/src/__tests__/process.test.ts
  comment/src/fetcher.ts
  comment/src/main.ts
Due: none

refactor(plugins): standardize global_name to {Name}Plugin convention
  astro/assets/manifest.json
  astro/dist/main.bundle.js
  astro/dist/manifest.json
  astro/package.json
  eleventy/assets/manifest.json
  eleventy/dist/main.bundle.js
  eleventy/dist/manifest.json
  eleventy/package.json
  email/assets/manifest.json
  email/dist/main.bundle.js
  email/dist/manifest.json
  email/package.json
  email/src/main.ts
  gatsby/assets/manifest.json
  gatsby/dist/main.bundle.js
  gatsby/dist/manifest.json
  gatsby/package.json
  github/assets/manifest.json
  github/e2e/moss-cli.test.ts
  github/package.json
  github/src/__tests__/configure-domain.test.ts
  github/src/main.ts
  hugo/assets/manifest.json
  hugo/package.json
  jekyll/assets/manifest.json
  jekyll/dist/main.bundle.js
  jekyll/dist/manifest.json
  jekyll/package.json
  matters/assets/manifest.json
  nostr/assets/manifest.json
Due: github, matters, email

fix(comment): clickable author names, chevron toggle, form spacing
  comment/browser/moss-comments.css
  comment/src/__tests__/render.test.ts
  comment/src/render.ts
  comment/src/social-reader.ts
Due: none

fix(comment): add url field to GenericSocialComment author type
  comment/src/types.ts
Due: none

fix(comment): use design system CSS variables for dark mode support
  comment/browser/moss-comments.css
  comment/src/__tests__/inject.test.ts
Due: none

refactor(comment): external CSS link + fix build.rs asset staleness
  comment/src/__tests__/enhance.test.ts
  comment/src/__tests__/inject.test.ts
  comment/src/inject.ts
  comment/src/main.ts
Due: none

fix(github): .nojekyll injection, stale build detection, error toast messaging
  github/src/__tests__/deploy.integration.test.ts
  github/src/__tests__/github-api.test.ts
  github/src/__tests__/github-deploy.test.ts
  github/src/github-api.ts
  github/src/github-deploy.ts
  github/src/main.ts
Due: github

feat(comment): add data-built-at attribute for client-side hydration
  comment/src/__tests__/render.test.ts
  comment/src/render.ts
Due: none

feat(comment): add fetch-on-open hydration + form submission ID fix
  comment/src/__tests__/providers/artalk.test.ts
  comment/src/providers/artalk.ts
Due: none

fix(comment): correct Artalk API response parsing and add res.ok check
  comment/src/__tests__/providers/artalk.test.ts
  comment/src/providers/artalk.ts
Due: none

refactor(comment): flatten comment form — remove card styling, add design principles
  comment/browser/moss-comments.css
  comment/src/__tests__/css-design-principles.test.ts
  comment/src/__tests__/inject.test.ts
Due: none

Path conditions:
  github: any of: github/
  matters: any of: matters/
  email: any of: email/
