Repository Symbiosis-Lab/moss-plugins: changes, and which Codecov flags are due for each by the changed paths.
All: github, matters, email

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 70%
    patch:
      default:
        target: 80%

flags:
  github:
    paths:
      - github/
    carryforward: true
  matters:
    paths:
      - matters/
    carryforward: true
  email:
    paths:
      - email/
    carryforward: true
  # Add more plugins as they're added to the repo

feat(plugins): expose the advisory path to plugins + wire Matters (5.3)
  matters/assets/manifest.json
  matters/src/__tests__/main.test.ts
  matters/src/main.ts
Due: matters

fix(plugins): wire contributes.jobs descriptor -> normalized verb/amount on plugin Jobs (R13)
  matters/src/main.ts
Due: matters

chore(plugins): bump matters manifest to 1.1.2 after QuickJS runtime changes
  matters/assets/manifest.json
Due: matters

fix(matters): write social data to .moss/data/social + recover stranded comments (#793)
  matters/assets/manifest.json
  matters/package.json
  matters/src/__tests__/social-integration.test.ts
  matters/src/__tests__/social-sync-logic.test.ts
  matters/src/__tests__/social.test.ts
  matters/src/main.ts
  matters/src/social.ts
  matters/src/types.ts
Due: matters

feat(terrarium): scaffold plugin (manifest, build, process stub)
  terrarium/.gitignore
  terrarium/assets/icon.svg
  terrarium/assets/manifest.json
  terrarium/package.json
  terrarium/src/main.ts
  terrarium/tsconfig.json
  terrarium/vitest.config.ts
Due: none

feat(terrarium): the advisory-window catalog as data
  terrarium/src/__tests__/windows.test.ts
  terrarium/src/windows.ts
Due: none

feat(terrarium): pure gallery renderer (data -> self-contained HTML)
  terrarium/src/__tests__/gallery.test.ts
  terrarium/src/gallery.ts
Due: none

feat(terrarium): open the gallery on plugin load
  terrarium/src/main.ts
Due: none

refactor(terrarium): drop dead data-driver attr + redundant amount on syndicate-ok (review nits)
  terrarium/src/gallery.ts
  terrarium/src/windows.ts
Due: none

fix(matters): full refetch on cleared counts, diagnostic hook-failure advisories, real-predicate tests
  matters/src/__tests__/social-sync-logic.test.ts
  matters/src/__tests__/social.test.ts
  matters/src/main.ts
  matters/src/social.ts
Due: matters

fix(terrarium): inset the gallery top to clear the macOS traffic lights (48px)
  terrarium/src/gallery.ts
Due: none

feat(matters): decode JWT exp claim locally (session expiry, T1)
  matters/src/__tests__/session.test.ts
  matters/src/api.ts
Due: matters

feat(matters): typed MattersAuthError from response bodies, token-bearing path only (T3)
  matters/src/__tests__/session.test.ts
  matters/src/api.ts
Due: matters

feat(matters): pure trigger-aware auth router (T4)
  matters/src/__tests__/auth-route.test.ts
  matters/src/auth-route.ts
Due: matters

feat(matters): tri-state session check, dead-token filtering, persisted nudge stamp (T2)
  matters/src/__tests__/session.test.ts
  matters/src/api.ts
Due: matters

feat(matters): trigger-aware auth routing + gated binding guard + honest receipts (T5)
  matters/src/__tests__/auth-routing.test.ts
  matters/src/__tests__/binding-guard.test.ts
  matters/src/main.ts
Due: matters

fix(matters): checkpoint review fixes — cookie dead-token filter, queryMode reset, receipt copy (T6.5)
  matters/src/__tests__/auth-routing.test.ts
  matters/src/__tests__/binding-guard.test.ts
  matters/src/__tests__/session.test.ts
  matters/src/api.ts
  matters/src/main.ts
Due: matters

feat(matters): mid-sync auth failure copy + tri-state syndicate gate (T6)
  matters/src/__tests__/auth-routing.test.ts
  matters/src/main.ts
Due: matters

chore(matters): bump plugin to 1.2.0 (session-expiry handling) (T7)
  matters/assets/manifest.json
Due: matters

chore(matters): reconcile plugin version to 1.4.0 after rebase
  matters/package.json
Due: matters

test(matters): align auth-routing mocks with develop's task API
  matters/src/__tests__/auth-routing.test.ts
Due: matters

chore: sub-package versioning, backfill changelogs, fix public READMEs
  CHANGELOG.md
  README.md
  WIP/douban/README.md
  WIP/linkedin/README.md
  WIP/substack/README.md
  WIP/x/README.md
  WIP/xiaohongshu/README.md
  github/CHANGELOG.md
  github/README.md
  matters/CHANGELOG.md
  matters/README.md
Due: github, matters

feat(terrarium): modal driver — opens FirstPublishModal + ReverifyConfirmModal from gallery
  terrarium/src/gallery.ts
  terrarium/src/windows.ts
Due: none

docs(changelog): populate [Unreleased] for changed sub-packages
  CHANGELOG.md
  github/CHANGELOG.md
  matters/CHANGELOG.md
Due: github, matters

fix(ci): terrarium test:coverage script + E2E mobile-mode/action-panel false failures
  terrarium/package.json
Due: none

fix(terrarium): sync windows.test.ts group/driver allowlists with windows.ts
  terrarium/src/__tests__/windows.test.ts
Due: none

test(matters): add syndication-toast-law invariant suite + fix worker OOM
  matters/package.json
  matters/src/__tests__/syndication-toast-law.test.ts
  matters/vitest.config.ts
  vitest.shared.ts
Due: matters

feat(matters): thread TaskHandle into syndicateArticle(); add dismissToast import
  matters/src/__tests__/main.test.ts
  matters/src/main.ts
Due: matters

fix(matters): migrate syndication chatty toasts to L1 PanelTask; one terminal L3 ack
  matters/src/main.ts
Due: matters

fix(matters): session-expired toast is persistent (Law 2: errors never auto-fade)
  matters/src/__tests__/syndication-toast-law.test.ts
  matters/src/main.ts
Due: matters

test(matters): enforce Law 2 persistent-toast invariant + syndicate gate assertions
  matters/src/__tests__/auth-routing.test.ts
  matters/src/__tests__/main.test.ts
Due: matters

chore(matters): drop redundant NODE_OPTIONS from test script
  matters/package.json
Due: matters

fix(feedback): kill import-failure double-signal (Law 1) + harden matters test isolation
  matters/src/__tests__/syndication-toast-law.test.ts
Due: matters

feat(moss-api)!: rename PageNode.unlisted to draft; update archive plugins
  archive/astro/src/__tests__/translate-page-tree.test.ts
  archive/eleventy/src/__tests__/translate-page-tree.test.ts
  archive/gatsby/src/__tests__/translate-page-tree.test.ts
  archive/hugo/src/__tests__/translate-page-tree.test.ts
  archive/jekyll/src/__tests__/translate-page-tree.test.ts
Due: none

refactor(matters): apply code-review fixes (dead code, hardening, coverage)
  matters/src/__tests__/main.test.ts
  matters/src/api.ts
  matters/src/main.ts
Due: matters

fix(matters): upload images, covers & audio to Matters by bytes (multipart)
  matters/CHANGELOG.md
  matters/src/__tests__/main.test.ts
  matters/src/api.ts
  matters/src/main.ts
Due: matters

fix(matters): syndicate audio embeds into Matters' figure.audio shape
  matters/CHANGELOG.md
  matters/src/__tests__/main.test.ts
  matters/src/main.ts
Due: matters

feat(ship): syndicator room terminal (skip/sent/failed) + matters-room-skipped
  matters/src/main.ts
Due: matters

fix(matters): download comments for /a/<shortHash> short-link syndication URLs
  matters/CHANGELOG.md
  matters/src/__tests__/domain.test.ts
  matters/src/__tests__/main.test.ts
  matters/src/__tests__/sync.test.ts
  matters/src/domain.ts
  matters/src/downloader.ts
  matters/src/sync.ts
Due: matters
