Repository Symbiosis-Lab/moss-plugins: changes, and which Codecov flags are due for each by the changed paths.
All: github, matters, email

refactor: remove legacy enhance hook system, use content slots exclusively
  comment/assets/manifest.json
  comment/src/__tests__/enhance.test.ts
  comment/src/main.ts
  comment/src/types.ts
  email/assets/manifest.json
  email/src/__tests__/enhance.test.ts
  email/src/enhance.ts
  email/src/main.ts
  review/assets/manifest.json
  review/src/__tests__/main.test.ts
  review/src/main.ts
  review/src/types.ts
Due: email

refactor: rename getSlotContent() back to enhance()
  comment/src/main.ts
  email/src/main.ts
  review/src/main.ts
Due: email

fix: email plugin injects form into footer-right correctly
  email/src/__tests__/enhance.test.ts
  email/src/enhance.ts
Due: email

feat: add reply button to comments and collapsible form slot
  comment/src/__tests__/render.test.ts
  comment/src/render.ts
Due: none

feat: wire inline reply logic in Artalk client script
  comment/src/providers/artalk.ts
Due: none

fix: update email plugin to target footer-right div
  email/src/__tests__/enhance.test.ts
  email/src/enhance.ts
Due: email

fix: move reply state vars before use, increase slideDown max-height
  comment/browser/moss-comments.css
  comment/src/providers/artalk.ts
Due: none

style: increase comment section top margin to 6rem
  comment/browser/moss-comments.css
Due: none

style: fix comment section width/spacing and add reply CSS
  comment/browser/moss-comments.css
Due: none

feat: add i18n strings for comment reply feature
  comment/src/i18n.ts
Due: none

fix: move padding from .moss-comments to inner details element
  comment/browser/moss-comments.css
Due: none

fix: align comment divider with article text by moving border to inner details
  comment/browser/moss-comments.css
Due: none

feat: add getSlotContent() to email, comment, and review plugins (Phase 3)
  comment/assets/manifest.json
  comment/src/main.ts
  email/assets/manifest.json
  email/src/main.ts
  review/assets/manifest.json
  review/src/main.ts
Due: email

refactor: consolidate Capability::Slots back to Capability::Enhance and simplify skills
  email/dist/manifest.json
Due: email

refactor: rename plugin API types to capability-based naming
  astro/src/main.ts
  comment/src/main.ts
  eleventy/src/main.ts
  email/src/__tests__/main.test.ts
  email/src/main.ts
  email/src/types.ts
  gatsby/src/main.ts
  github/features/steps/deploy.steps.ts
  github/src/__tests__/configure-domain.test.ts
  github/src/__tests__/deploy.integration.test.ts
  github/src/main.ts
  github/src/types.ts
  hugo/src/main.ts
  jekyll/src/main.ts
  matters/src/main.ts
  matters/src/types.ts
  review/src/main.ts
Due: github, matters, email

fix: inject plugin content into correct semantic slots
  comment/assets/manifest.json
  comment/browser/moss-comments.css
  comment/package.json
  comment/src/main.ts
  comment/src/render.ts
  email/assets/manifest.json
  email/dist/manifest.json
  email/src/main.ts
  review/assets/manifest.json
Due: email

fix: remove box-sizing override from comment plugin CSS
  comment/browser/moss-comments.css
Due: none

fix: redesign GitHub deploy for root-only deployment (#449)
  github/src/__tests__/git.test.ts
  github/src/__tests__/github-api.test.ts
  github/src/__tests__/repo-setup-progress.test.ts
  github/src/__tests__/repo-setup.test.ts
  github/src/git.ts
  github/src/github-api.ts
  github/src/repo-setup.ts
Due: github

fix: skip Matters homepage generation when moss detects existing home file
  matters/src/__tests__/sync.test.ts
  matters/src/main.ts
  matters/src/sync.ts
Due: matters

feat: skip collection index.md when folder already has a home file
  matters/src/__tests__/sync.test.ts
  matters/src/sync.ts
Due: matters

fix: strip blockquote markers from extracted descriptions, plus batch uncommitted changes
  email/src/main.ts
Due: email

fix: nest reply comments and update count after submission
  comment/src/__tests__/providers/artalk.test.ts
  comment/src/providers/artalk.ts
Due: none

fix: hide reply buttons on non-server-sourced comments
  comment/src/__tests__/render.test.ts
  comment/src/render.ts
Due: none

fix: use comment fetch timestamp for hydration boundary
  comment/src/__tests__/render.test.ts
  comment/src/main.ts
  comment/src/render.ts
  comment/src/social-reader.ts
Due: none

fix: hydrate comments on page load instead of on toggle
  comment/src/__tests__/providers/artalk.test.ts
  comment/src/providers/artalk.ts
Due: none

feat: update social-reader to discover sources dynamically via listSocialFiles
  comment/src/__tests__/social-reader.test.ts
  comment/src/social-reader.ts
Due: none

chore: clean up stale blank line and outdated test header
  comment/src/__tests__/social-reader.test.ts
  comment/src/social-reader.ts
Due: none

fix: hydrate reply comments under correct parent in Artalk provider
  comment/src/__tests__/providers/artalk-hydration-order.test.ts
  comment/src/providers/artalk.ts
Due: none

chore: bundle review plugin
  review/package.json
Due: none

feat: download NeoDB cover images locally and write cover to frontmatter
  review/src/__tests__/main.test.ts
  review/src/main.ts
Due: none

feat: Matters syndication reads cover from frontmatter and uploads to Matters
  matters/src/__tests__/main.test.ts
  matters/src/api.ts
  matters/src/main.ts
Due: matters

feat: plugin-contributed frontmatter schema + rename neodb to review_of
  review/assets/manifest.json
  review/src/__tests__/main.test.ts
  review/src/__tests__/neodb.test.ts
  review/src/__tests__/render.test.ts
  review/src/__tests__/social-writer.test.ts
  review/src/__tests__/sources.test.ts
  review/src/fetch.ts
  review/src/main.ts
  review/src/neodb.ts
  review/src/render.ts
  review/src/social-writer.ts
  review/src/sources.ts
  review/src/sources/douban.ts
  review/src/sources/goodreads.ts
  review/src/sources/neodb.ts
  review/src/sources/tmdb.ts
  review/src/types.ts
Due: none

fix(review): remove deprecated neodb: frontmatter field support
  review/src/__tests__/main.test.ts
  review/src/main.ts
Due: none

fix(review): adaptive cover directory + root-relative cover path
  review/src/__tests__/main.test.ts
  review/src/__tests__/render.test.ts
  review/src/main.ts
  review/src/render.ts
Due: none

fix(review): use frontmatter cover as source of truth + colophon card redesign
  review/browser/review.css
  review/src/__tests__/main.test.ts
  review/src/__tests__/render.test.ts
  review/src/__tests__/social-writer.test.ts
  review/src/main.ts
  review/src/render.ts
  review/src/types.ts
Due: none

fix(review): polish layout — larger covers, subtitle, no mobile stacking
  review/browser/review.css
  review/src/__tests__/main.test.ts
  review/src/__tests__/render.test.ts
  review/src/__tests__/social-writer.test.ts
  review/src/main.ts
  review/src/render.ts
  review/src/sources/neodb.ts
  review/src/sources/tmdb.ts
  review/src/types.ts
Due: none

feat(matters): add content transforms for Matters syndication
  matters/src/__tests__/main.test.ts
  matters/src/__tests__/syndication.test.ts
  matters/src/main.ts
Due: matters

fix(review): align text vertically with cover image
  review/browser/review.css
Due: none

Path conditions:
  github: any of: github/
  matters: any of: matters/
  email: any of: email/
