Repository Symbiosis-Lab/moss-plugins: changes, and which Codecov flags are due for each by the changed paths.
All: github, matters

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 70%
    patch:
      default:
        target: 80%

flags:
  github:
    paths:
      - github/
    carryforward: true
  matters:
    paths:
      - matters/
    carryforward: true
  # Add more plugins as they're added to the repo

fix(github): handle both Git worktree error message formats
  github/src/__tests__/deploy.integration.test.ts
  github/src/__tests__/git.test.ts
  github/src/git.ts
Due: github

fix(github): handle both Git worktree error message formats (#28)
  github/src/__tests__/deploy.integration.test.ts
  github/src/__tests__/git.test.ts
  github/src/git.ts
Due: github

fix(github): fix early change detection and add toast for no-changes case
  github/src/__tests__/deploy.integration.test.ts
  github/src/__tests__/git.test.ts
  github/src/git.ts
  github/src/main.ts
Due: github

fix(github): fix early change detection and add toast for no-changes case (#29)
  github/src/__tests__/deploy.integration.test.ts
  github/src/__tests__/git.test.ts
  github/src/git.ts
  github/src/main.ts
Due: github

Add .worktrees to gitignore
  github/.gitignore
Due: github

Fix early change detection for Chinese filenames
  github/src/__tests__/deploy.integration.test.ts
  github/src/__tests__/git.test.ts
  github/src/git.ts
Due: github

Increase worktree cleanup timeout from 5s to 30s
  github/src/git.ts
Due: github

Add explicit completion signaling with deferred cleanup
  github/features/steps/deploy.steps.ts
  github/src/__tests__/deploy.integration.test.ts
  github/src/git.ts
  github/src/main.ts
  github/src/utils.ts
Due: github

feat: use showToast() API for deploy notifications
  github/features/steps/deploy.steps.ts
  github/package-lock.json
  github/package.json
  github/src/__tests__/deploy.integration.test.ts
  github/src/main.ts
  github/src/utils.ts
Due: github

feat: use showToast() API for deploy notifications (#31)
  github/features/steps/deploy.steps.ts
  github/package-lock.json
  github/package.json
  github/src/__tests__/deploy.integration.test.ts
  github/src/main.ts
  github/src/utils.ts
Due: github

Single completion path architecture
  github/package-lock.json
  github/package.json
  github/src/__tests__/deploy.integration.test.ts
  github/src/__tests__/git.test.ts
  github/src/__tests__/utils.test.ts
  github/src/git.ts
  github/src/main.ts
  github/src/types.ts
  github/src/utils.ts
Due: github

Single completion path architecture (#32)
  github/package-lock.json
  github/package.json
  github/src/__tests__/deploy.integration.test.ts
  github/src/__tests__/git.test.ts
  github/src/__tests__/utils.test.ts
  github/src/git.ts
  github/src/main.ts
  github/src/types.ts
  github/src/utils.ts
Due: github

fix: eliminate duplicate git remote URL fetch
  github/src/git.ts
  github/src/main.ts
Due: github

fix: remove unused getRemoteUrl import
  github/src/main.ts
Due: github

fix: eliminate duplicate git remote URL fetch (#33)
  github/src/git.ts
  github/src/main.ts
Due: github

feat(matters): add error handling and integration tests for social data save
  matters/src/__tests__/social-integration.test.ts
  matters/src/main.ts
  matters/src/social.ts
Due: matters

feat(matters): add error handling and integration tests for social data save (#34)
  matters/src/__tests__/social-integration.test.ts
  matters/src/main.ts
  matters/src/social.ts
Due: matters

feat(matters): auto-detect article folder and disable drafts by default
  matters/src/__tests__/folder-detection.test.ts
  matters/src/config.ts
  matters/src/sync.ts
Due: matters

fix: handle null return from parseFrontmatter in detectArticleFolder
  matters/src/sync.ts
Due: matters

feat(matters): auto-detect article folder and disable drafts by default (#35)
  matters/src/__tests__/folder-detection.test.ts
  matters/src/config.ts
  matters/src/sync.ts
Due: matters

fix(matters): improve sync success criteria and social data fetching
  matters/package-lock.json
  matters/package.json
  matters/src/api.ts
  matters/src/main.ts
  matters/src/social.ts
Due: matters

feat: Add email-newsletter plugin with Buttondown support
  email-newsletter/assets/manifest.json
  email-newsletter/dist/main.bundle.js
  email-newsletter/dist/manifest.json
  email-newsletter/package-lock.json
  email-newsletter/package.json
  email-newsletter/src/__tests__/main.test.ts
  email-newsletter/src/buttondown.ts
  email-newsletter/src/main.ts
  email-newsletter/src/tracking.ts
  email-newsletter/src/types.ts
  email-newsletter/tsconfig.json
  email-newsletter/vitest.config.ts
Due: none

fix(matters): improve sync success criteria and social data fetching (#36)
  matters/package-lock.json
  matters/package.json
  matters/src/api.ts
  matters/src/main.ts
  matters/src/social.ts
Due: matters

feat: Add email-newsletter plugin with Buttondown support (#37)
  email-newsletter/assets/manifest.json
  email-newsletter/dist/main.bundle.js
  email-newsletter/dist/manifest.json
  email-newsletter/package-lock.json
  email-newsletter/package.json
  email-newsletter/src/__tests__/main.test.ts
  email-newsletter/src/buttondown.ts
  email-newsletter/src/main.ts
  email-newsletter/src/tracking.ts
  email-newsletter/src/types.ts
  email-newsletter/tsconfig.json
  email-newsletter/vitest.config.ts
Due: none

fix: skip writing unchanged files during sync
  matters/src/__tests__/downloader.test.ts
  matters/src/__tests__/sync.test.ts
  matters/src/main.ts
  matters/src/sync.ts
  matters/src/utils.ts
  package-lock.json
Due: matters

fix: skip writing unchanged files during sync (#38)
  matters/src/__tests__/downloader.test.ts
  matters/src/__tests__/sync.test.ts
  matters/src/main.ts
  matters/src/sync.ts
  matters/src/utils.ts
  package-lock.json
Due: matters

feat(matters): simplify sync to download-only model
  matters/src/__tests__/sync.test.ts
  matters/src/api.ts
  matters/src/main.ts
  matters/src/sync.ts
Due: matters

fix: use correct listFiles API signature
  matters/src/sync.ts
Due: matters

feat(matters): simplify sync to download-only model (#39)
  matters/src/__tests__/sync.test.ts
  matters/src/api.ts
  matters/src/main.ts
  matters/src/sync.ts
Due: matters

refactor(hugo): add translatePageTree using PageNode from moss-api
  hugo/package-lock.json
  hugo/package.json
  hugo/src/__tests__/translate-page-tree.test.ts
  hugo/src/main.ts
  hugo/src/structure.ts
Due: none

refactor(jekyll): add translatePageTree using PageNode from moss-api
  jekyll/dist/main.bundle.js
  jekyll/package-lock.json
  jekyll/package.json
  jekyll/src/__tests__/translate-page-tree.test.ts
  jekyll/src/main.ts
  jekyll/src/structure.ts
Due: none

refactor(gatsby,astro,eleventy): add translatePageTree using PageNode from moss-api
  astro/dist/main.bundle.js
  astro/package-lock.json
  astro/package.json
  astro/src/__tests__/translate-page-tree.test.ts
  astro/src/main.ts
  astro/src/structure.ts
  eleventy/dist/main.bundle.js
  eleventy/package-lock.json
  eleventy/package.json
  eleventy/src/__tests__/translate-page-tree.test.ts
  eleventy/src/main.ts
  eleventy/src/structure.ts
  gatsby/dist/main.bundle.js
  gatsby/package-lock.json
  gatsby/package.json
  gatsby/src/__tests__/translate-page-tree.test.ts
  gatsby/src/main.ts
  gatsby/src/structure.ts
Due: none

fix(astro,gatsby): remove unused type imports and fix PluginConfig index signature
  astro/src/main.ts
  gatsby/src/main.ts
Due: none

fix: resolve tsc --noEmit errors across all plugins
  hugo/src/main.ts
  jekyll/src/main.ts
  jekyll/src/structure.ts
Due: none

ci: remove Windows from cross-platform test matrix
  .github/workflows/test.yml
Due: none

fix: don't overwrite existing homepage and collection files during sync
  matters/src/__tests__/sync.test.ts
  matters/src/sync.ts
Due: matters

fix: add permissions for release workflow to create releases
  .github/workflows/release-plugin.yml
Due: none

fix: use showPluginDialog instead of unimplemented openBrowserWithHtml
  github/src/__tests__/repo-setup.test.ts
  github/src/repo-setup.ts
Due: github

fix: support both dialogId injection methods for compatibility
  github/src/repo-setup.ts
Due: github

fix: capture actual error message in repo-setup catch block
  github/src/repo-setup.ts
Due: github
