Repository Symbiosis-Lab/moss-plugins: changes, and which Codecov flags are due for each by the changed paths.
All: github, matters

feat(github-deployer): add browser-based GitHub login via OAuth Device Flow
  github/assets/manifest.json
  github/dist/icon.svg
  github/dist/main.bundle.js
  github/dist/main.js
  github/dist/manifest.json
  github/features/auth/device-flow.feature
  github/features/steps/auth.steps.ts
  github/package-lock.json
  github/package.json
  github/src/__tests__/auth.test.ts
  github/src/__tests__/token.test.ts
  github/src/__tests__/validation.test.ts
  github/src/auth.ts
  github/src/main.ts
  github/src/token.ts
  github/src/types.ts
  github/src/validation.ts
  github/test-helpers/mock-github-api.ts
  github/vitest.config.ts
Due: github

test(github-deployer): add integration tests and BDD scenarios for deploy validation
  github/features/deploy/validation.feature
  github/features/steps/deploy.steps.ts
  github/src/__tests__/deploy.integration.test.ts
  github/vitest.config.ts
Due: github

chore: remove intermediate build artifacts from dist
  github/dist/main.js
Due: github

fix: update to moss-api 0.4.0 cookie API
  github/src/auth.ts
  github/src/main.ts
  github/src/token.ts
Due: github

test(github-deployer): add comprehensive e2e tests for GitHub flows
  github/dist/auth.js
  github/dist/git.js
  github/dist/github-api.js
  github/dist/icon.svg
  github/dist/main.bundle.js
  github/dist/manifest.json
  github/dist/repo-create.js
  github/dist/token.js
  github/dist/types.js
  github/dist/utils.js
  github/dist/validation.js
  github/dist/workflow.js
  github/e2e/moss-cli.test.ts
  github/features/steps/deploy.steps.ts
  github/package-lock.json
  github/package.json
  github/src/__tests__/auth-flow.integration.test.ts
  github/src/__tests__/deploy.integration.test.ts
  github/src/__tests__/dialog-html.test.ts
  github/src/__tests__/github-api.test.ts
  github/src/__tests__/repo-creation.integration.test.ts
  github/src/github-api.ts
  github/src/main.ts
  github/src/repo-create.ts
  github/src/repo-dialog.ts
  github/src/validation.ts
  github/vitest.config.ts
Due: github

chore: add .gitignore to exclude platform-specific files
  github/.gitignore
  github/package-lock.json
Due: github

fix: add proper cross-platform package-lock.json
  github/.gitignore
  github/package-lock.json
Due: github

test: add conditional skipping for tests requiring moss-api >= 0.5.4
  github/package-lock.json
  github/package.json
  github/src/__tests__/auth-flow.integration.test.ts
  github/src/__tests__/repo-creation.integration.test.ts
Due: github

test: skip e2e tests gracefully when moss binary unavailable
  github/e2e/moss-cli.test.ts
Due: github

feat(matters): add incremental sync, social data, and e2e testing
  matters/features/auth/wallet-auth.feature
  matters/features/social/fetch-social-data.feature
  matters/features/steps/incremental-sync.steps.ts
  matters/features/steps/social.steps.ts
  matters/features/steps/syndication.steps.ts
  matters/features/steps/wallet-auth.steps.ts
  matters/features/sync/incremental-sync.feature
  matters/features/syndication/create-draft.feature
  matters/package-lock.json
  matters/package.json
  matters/src/api.ts
  matters/src/config.ts
  matters/src/main.ts
  matters/src/social.ts
  matters/src/types.ts
  matters/test-helpers/TEST_ACCOUNT.md
  matters/test-helpers/wallet-auth.ts
  matters/test-setup/e2e.ts
  matters/vitest.config.ts
Due: matters

feat: add binary auto-download and update to moss-api 0.6.0
  .github/workflows/test.yml
  hugo-generator/dist/__tests__/binary-resolver.e2e.d.ts
  hugo-generator/dist/__tests__/binary-resolver.e2e.d.ts.map
  hugo-generator/dist/__tests__/binary-resolver.e2e.js
  hugo-generator/dist/__tests__/binary-resolver.e2e.js.map
  hugo-generator/dist/__tests__/hugo.e2e.js
  hugo-generator/dist/__tests__/hugo.e2e.js.map
  hugo-generator/dist/hugo-config.d.ts
  hugo-generator/dist/hugo-config.d.ts.map
  hugo-generator/dist/hugo-config.js
  hugo-generator/dist/hugo-config.js.map
  hugo-generator/dist/main.bundle.js
  hugo-generator/dist/main.d.ts
  hugo-generator/dist/main.d.ts.map
  hugo-generator/dist/main.js
  hugo-generator/dist/main.js.map
  hugo-generator/dist/structure.d.ts.map
  hugo-generator/dist/structure.js
  hugo-generator/dist/structure.js.map
  hugo-generator/dist/templates.js
  hugo-generator/dist/templates.js.map
  hugo-generator/package-lock.json
  hugo-generator/package.json
  hugo-generator/src/__tests__/binary-resolver.e2e.ts
  hugo-generator/src/__tests__/main.test.ts
  hugo-generator/src/__tests__/structure.test.ts
  hugo-generator/src/hugo-config.ts
  hugo-generator/src/main.ts
  hugo-generator/src/structure.ts
  hugo-generator/src/templates.ts
Due: none

fix: use darwin-universal for macOS Hugo downloads
  hugo-generator/dist/__tests__/binary-resolver.e2e.js
  hugo-generator/dist/__tests__/binary-resolver.e2e.js.map
  hugo-generator/dist/hugo-config.d.ts.map
  hugo-generator/dist/hugo-config.js
  hugo-generator/dist/hugo-config.js.map
  hugo-generator/dist/main.bundle.js
  hugo-generator/src/__tests__/binary-resolver.e2e.ts
  hugo-generator/src/hugo-config.ts
Due: none

ci: download moss binary from releases for e2e tests
  .github/workflows/test.yml
  github/e2e/moss-cli.test.ts
Due: github

ci: install webkit2gtk dependencies for moss binary
  .github/workflows/test.yml
Due: none

fix: use pinned Hugo version for macOS auto-download
  hugo-generator/dist/__tests__/binary-resolver.e2e.js
  hugo-generator/dist/__tests__/binary-resolver.e2e.js.map
  hugo-generator/dist/hugo-config.d.ts
  hugo-generator/dist/hugo-config.d.ts.map
  hugo-generator/dist/hugo-config.js
  hugo-generator/dist/hugo-config.js.map
  hugo-generator/dist/main.bundle.js
  hugo-generator/package-lock.json
  hugo-generator/package.json
  hugo-generator/src/__tests__/binary-resolver.e2e.ts
  hugo-generator/src/hugo-config.ts
Due: none

ci: add xvfb for virtual display in e2e tests
  .github/workflows/test.yml
Due: none

test(matters): add unit tests for social, api, and config modules
  matters/src/__tests__/api.test.ts
  matters/src/__tests__/config.test.ts
  matters/src/__tests__/social.test.ts
Due: matters

feat(github): add DNS target to deployment info
  github/dist/auth.js
  github/dist/git.js
  github/dist/github-api.js
  github/dist/main.bundle.js
  github/dist/repo-create.js
  github/dist/token.js
  github/dist/types.js
  github/dist/utils.js
  github/dist/validation.js
  github/dist/workflow.js
  github/package-lock.json
  github/src/main.ts
  github/src/types.ts
Due: github

fix(github): use npm package instead of local file path
  github/package-lock.json
  github/src/types.ts
Due: github

feat(nostr): add Nostr plugin for social interactions
  nostr/.gitignore
  nostr/assets/manifest.json
  nostr/browser/nostr-social.css
  nostr/browser/nostr-social.ts
  nostr/package.json
  nostr/src/main.ts
  nostr/tsconfig.json
Due: none

feat(nostr): complete plugin with tests, relay, and documentation
  nostr/README.md
  nostr/browser/nostr-social.ts
  nostr/features/enhance/render-interactions.feature
  nostr/features/process/fetch-interactions.feature
  nostr/features/steps/enhance.steps.ts
  nostr/features/steps/process.steps.ts
  nostr/features/steps/syndicate.steps.ts
  nostr/features/syndicate/publish-article.feature
  nostr/package-lock.json
  nostr/package.json
  nostr/src/__tests__/enhance.test.ts
  nostr/src/__tests__/fixtures/html-samples.ts
  nostr/src/__tests__/fixtures/nostr-events.ts
  nostr/src/__tests__/process.test.ts
  nostr/src/main.ts
  nostr/src/relay.ts
  nostr/src/types.ts
  nostr/test-helpers/mock-relay.ts
  nostr/test-helpers/test-utils.ts
  nostr/vitest.config.ts
Due: none

fix(nostr): add @vitest/coverage-v8 for CI coverage
  nostr/package-lock.json
  nostr/package.json
Due: none

fix(ci): add TypeScript type checking to test workflow
  .github/workflows/test.yml
  github/package-lock.json
  github/package.json
  github/src/types.ts
Due: github

chore: clean up plugin build and gitignore
  github/dist/icon.svg
  github/dist/main.bundle.js
  github/dist/manifest.json
  github/package.json
  hugo-generator/.gitignore
  hugo-generator/dist/__tests__/binary-resolver.e2e.d.ts
  hugo-generator/dist/__tests__/binary-resolver.e2e.d.ts.map
  hugo-generator/dist/__tests__/binary-resolver.e2e.js
  hugo-generator/dist/__tests__/binary-resolver.e2e.js.map
  hugo-generator/dist/__tests__/hugo.e2e.d.ts
  hugo-generator/dist/__tests__/hugo.e2e.d.ts.map
  hugo-generator/dist/__tests__/hugo.e2e.js
  hugo-generator/dist/__tests__/hugo.e2e.js.map
  hugo-generator/dist/hugo-config.d.ts
  hugo-generator/dist/hugo-config.d.ts.map
  hugo-generator/dist/hugo-config.js
  hugo-generator/dist/hugo-config.js.map
  hugo-generator/dist/main.bundle.js
  hugo-generator/dist/main.d.ts
  hugo-generator/dist/main.d.ts.map
  hugo-generator/dist/main.js
  hugo-generator/dist/main.js.map
  hugo-generator/dist/manifest.json
  hugo-generator/dist/structure.d.ts
  hugo-generator/dist/structure.d.ts.map
  hugo-generator/dist/structure.js
  hugo-generator/dist/structure.js.map
  hugo-generator/dist/templates.d.ts
  hugo-generator/dist/templates.d.ts.map
  hugo-generator/dist/templates.js
  hugo-generator/dist/templates.js.map
  hugo-generator/package.json
Due: github

fix(ci): add build step before running tests
  .github/workflows/test.yml
Due: none

fix: use httpPost for GitHub OAuth, add repo-setup browser UI
  github/e2e/moss-cli.test.ts
  github/features/deploy/validation.feature
  github/features/steps/deploy.steps.ts
  github/src/__tests__/auth-flow.integration.test.ts
  github/src/__tests__/deploy.integration.test.ts
  github/src/__tests__/repo-setup-browser.test.ts
  github/src/auth.ts
  github/src/git.ts
  github/src/main.ts
  github/src/repo-setup-browser.ts
  github/src/validation.ts
  github/test-helpers/mock-github-api.ts
Due: github

fix: Bug 16 (gh-pages deployment) and Bug 17 (duplicate git calls)
  github/e2e/moss-cli.test.ts
  github/features/steps/deploy.steps.ts
  github/package-lock.json
  github/package.json
  github/src/__tests__/auth-flow.integration.test.ts
  github/src/__tests__/deploy.integration.test.ts
  github/src/__tests__/repo-setup-browser.test.ts
  github/src/__tests__/token.test.ts
  github/src/__tests__/validation.test.ts
  github/src/auth.ts
  github/src/git.ts
  github/src/main.ts
  github/src/repo-setup-browser.ts
  github/src/token.ts
  github/src/validation.ts
Due: github

fix: Bug 18 - Replace --orphan with git plumbing for compatibility
  github/src/git.ts
Due: github

fix: Bug 19 - Non-blocking cleanup with immediate URL feedback
  github/src/git.ts
  github/src/main.ts
Due: github

fix: Bug 23 - Skip OAuth for existing HTTPS remotes
  github/src/__tests__/auth-flow.integration.test.ts
  github/src/__tests__/auth.test.ts
  github/src/__tests__/deploy.integration.test.ts
  github/src/main.ts
Due: github

refactor: Simplify repo setup - remove repo creation dialog
  github/features/steps/deploy.steps.ts
  github/src/__tests__/dialog-html.test.ts
  github/src/__tests__/github-api.test.ts
  github/src/__tests__/repo-creation.integration.test.ts
  github/src/__tests__/repo-setup-browser.test.ts
  github/src/__tests__/repo-setup.test.ts
  github/src/auth.ts
  github/src/github-api.ts
  github/src/repo-create.ts
  github/src/repo-dialog.ts
  github/src/repo-setup.ts
  package-lock.json
Due: github

test: Add integration tests for workflow.ts, update moss-api to 0.8.0
  github/package-lock.json
  github/package.json
  github/src/__tests__/workflow.test.ts
Due: github

fix: Remove unused parameter warning in repo-setup.ts
  github/src/repo-setup.ts
Due: github

chore: Use moss-api@0.7.1
  github/package-lock.json
  github/package.json
Due: github

test: Enable 'no plugin' CLI test for moss v0.3.0
  github/e2e/moss-cli.test.ts
Due: github

fix: remove unused readFile import from jekyll
  jekyll/src/structure.ts
Due: none

feat: use symlinks for content files instead of copying
  astro/package.json
  astro/src/__tests__/structure.test.ts
  astro/src/structure.ts
  eleventy/package.json
  eleventy/src/__tests__/structure.test.ts
  eleventy/src/structure.ts
  gatsby/dist/main.bundle.js
  gatsby/package.json
  gatsby/src/__tests__/structure.test.ts
  gatsby/src/structure.ts
  hugo/package.json
  hugo/src/__tests__/structure.test.ts
  hugo/src/structure.ts
  jekyll/package.json
  jekyll/src/__tests__/structure.test.ts
  jekyll/src/structure.ts
Due: none

chore: update to moss-api 0.7.1 with createSymlink
  astro/package-lock.json
  astro/package.json
  eleventy/package-lock.json
  eleventy/package.json
  gatsby/package-lock.json
  gatsby/package.json
  hugo/package-lock.json
  hugo/package.json
  jekyll/package-lock.json
  jekyll/package.json
Due: none

chore: update package-lock.json for moss-api 0.7.0
  astro/package-lock.json
  eleventy/package-lock.json
  gatsby/package-lock.json
  hugo/package-lock.json
  jekyll/package-lock.json
Due: none

Path conditions:
  github: any of: github/
  matters: any of: matters/
