Repository Symbiosis-Lab/moss-plugins: changes, and which Codecov flags are due for each by the changed paths.
All: github-deployer, matters-syndicator

Add test and coverage badges to README
  README.md
Due: none

Trigger CI for all plugins
  github-deployer/package.json
  matters-syndicator/package.json
Due: github-deployer, matters-syndicator

Add @vitest/coverage-v8 to github-deployer
  github-deployer/package-lock.json
  github-deployer/package.json
Due: github-deployer

Use npm registry version of moss-api instead of local file reference
  github-deployer/package-lock.json
  github-deployer/package.json
Due: github-deployer

Use @symbiosis-lab/moss-api instead of moss-api
  github-deployer/package-lock.json
  github-deployer/package.json
  github-deployer/src/types.ts
  github-deployer/src/utils.ts
  matters-syndicator/package-lock.json
  matters-syndicator/package.json
  matters-syndicator/src/main.ts
  matters-syndicator/src/types.ts
  matters-syndicator/src/utils.ts
Due: github-deployer, matters-syndicator

Migrate plugins to use moss-api v0.2.0 high-level APIs
  github-deployer/dist/git.d.ts
  github-deployer/dist/git.js
  github-deployer/dist/git.js.map
  github-deployer/dist/main.bundle.js
  github-deployer/dist/types.d.ts
  github-deployer/dist/types.d.ts.map
  github-deployer/dist/types.js
  github-deployer/dist/utils.d.ts
  github-deployer/dist/utils.d.ts.map
  github-deployer/dist/utils.js
  github-deployer/dist/utils.js.map
  github-deployer/dist/validation.d.ts
  github-deployer/dist/validation.d.ts.map
  github-deployer/dist/validation.js
  github-deployer/dist/validation.js.map
  github-deployer/dist/workflow.d.ts.map
  github-deployer/dist/workflow.js
  github-deployer/dist/workflow.js.map
  github-deployer/package-lock.json
  github-deployer/package.json
  github-deployer/src/git.ts
  github-deployer/src/types.ts
  github-deployer/src/utils.ts
  github-deployer/src/validation.test.ts
  github-deployer/src/validation.ts
  github-deployer/src/workflow.ts
  matters-syndicator/package-lock.json
  matters-syndicator/package.json
  matters-syndicator/src/api.ts
  matters-syndicator/src/downloader.test.ts
  matters-syndicator/src/downloader.ts
  matters-syndicator/src/sync.ts
  matters-syndicator/src/utils.ts
Due: github-deployer, matters-syndicator

Fix empty figcaption producing ** in markdown
  matters-syndicator/src/converter.test.ts
  matters-syndicator/src/converter.ts
Due: matters-syndicator

Add E2E testing infrastructure for matters-syndicator
  matters-syndicator/codegen.ts
  matters-syndicator/features/api/fetch-articles.feature
  matters-syndicator/features/download/retry-logic.feature
  matters-syndicator/features/download/worker-pool.feature
  matters-syndicator/features/sync/article-sync.feature
  matters-syndicator/package-lock.json
  matters-syndicator/package.json
  matters-syndicator/src/__generated__/schema.graphql
  matters-syndicator/src/__generated__/types.ts
  matters-syndicator/src/api.ts
  matters-syndicator/src/queries/user.graphql
  matters-syndicator/src/queries/viewer.graphql
  matters-syndicator/vitest.features.config.ts
Due: matters-syndicator

Add step definitions and test helpers for E2E testing
  matters-syndicator/features/api/fetch-articles.feature
  matters-syndicator/features/steps/api.steps.ts
  matters-syndicator/package-lock.json
  matters-syndicator/package.json
  matters-syndicator/test-helpers/api-client.ts
  matters-syndicator/test-helpers/fixtures/articles.ts
  matters-syndicator/test-helpers/mock-tauri.ts
  matters-syndicator/vitest.features.config.ts
Due: matters-syndicator

Fix E2E tests for matters-syndicator plugin
  matters-syndicator/features/api/fetch-articles.feature
  matters-syndicator/features/steps/api.steps.ts
  matters-syndicator/src/api.ts
Due: matters-syndicator

Merge unit and E2E tests into unified coverage report
  matters-syndicator/package.json
  matters-syndicator/vitest.config.ts
  matters-syndicator/vitest.features.config.ts
Due: matters-syndicator

Use @symbiosis-lab/moss-api/testing for integration tests
  matters-syndicator/features/download/retry-logic.feature
  matters-syndicator/features/download/worker-pool.feature
  matters-syndicator/features/steps/download.steps.ts
  matters-syndicator/package-lock.json
  matters-syndicator/package.json
  matters-syndicator/test-helpers/mock-tauri.ts
Due: matters-syndicator

fix(matters): update image references after download (self-correcting)
  matters-syndicator/features/download/self-correcting.feature
  matters-syndicator/features/steps/self-correcting.steps.ts
  matters-syndicator/src/downloader.ts
  matters-syndicator/src/main.ts
Due: matters-syndicator

fix(matters): incremental file writes and cross-CDN deduplication
  matters-syndicator/features/download/self-correcting.feature
  matters-syndicator/features/steps/download.steps.ts
  matters-syndicator/features/steps/self-correcting.steps.ts
  matters-syndicator/src/downloader.ts
Due: matters-syndicator

refactor: move test files to __tests__ directories
  github-deployer/src/__tests__/git.test.ts
  github-deployer/src/__tests__/validation.test.ts
  github-deployer/src/__tests__/workflow.test.ts
  matters-syndicator/src/__tests__/api.test.ts
  matters-syndicator/src/__tests__/converter.test.ts
  matters-syndicator/src/__tests__/downloader.test.ts
  matters-syndicator/src/__tests__/sync.test.ts
  matters-syndicator/src/__tests__/utils.test.ts
Due: github-deployer, matters-syndicator

feat: add hugo-generator plugin
  .github/workflows/test.yml
  hugo-generator/README.md
  hugo-generator/assets/manifest.json
  hugo-generator/dist/main.bundle.js
  hugo-generator/dist/main.d.ts
  hugo-generator/dist/main.d.ts.map
  hugo-generator/dist/main.js
  hugo-generator/dist/main.js.map
  hugo-generator/dist/manifest.json
  hugo-generator/package-lock.json
  hugo-generator/package.json
  hugo-generator/src/__tests__/hugo.e2e.ts
  hugo-generator/src/__tests__/main.test.ts
  hugo-generator/src/main.ts
  hugo-generator/tsconfig.json
  hugo-generator/vitest.config.ts
Due: none

docs: add Phase 10 design documentation and update types
  hugo-generator/src/main.ts
Due: none

feat: implement Phase 10 folder structure translation
  hugo-generator/dist/__tests__/hugo.e2e.d.ts
  hugo-generator/dist/__tests__/hugo.e2e.d.ts.map
  hugo-generator/dist/__tests__/hugo.e2e.js
  hugo-generator/dist/__tests__/hugo.e2e.js.map
  hugo-generator/dist/main.bundle.js
  hugo-generator/dist/main.d.ts
  hugo-generator/dist/main.d.ts.map
  hugo-generator/dist/main.js
  hugo-generator/dist/main.js.map
  hugo-generator/dist/structure.d.ts
  hugo-generator/dist/structure.d.ts.map
  hugo-generator/dist/structure.js
  hugo-generator/dist/structure.js.map
  hugo-generator/dist/templates.d.ts
  hugo-generator/dist/templates.d.ts.map
  hugo-generator/dist/templates.js
  hugo-generator/dist/templates.js.map
  hugo-generator/package.json
  hugo-generator/src/__tests__/hugo.e2e.ts
  hugo-generator/src/__tests__/main.test.ts
  hugo-generator/src/__tests__/structure.test.ts
  hugo-generator/src/main.ts
  hugo-generator/src/structure.ts
  hugo-generator/src/templates.ts
  hugo-generator/test-fixtures/collections-site/assets/placeholder.txt
  hugo-generator/test-fixtures/collections-site/index.md
  hugo-generator/test-fixtures/collections-site/posts/index.md
  hugo-generator/test-fixtures/collections-site/posts/post-1.md
  hugo-generator/test-fixtures/collections-site/posts/post-2.md
  hugo-generator/test-fixtures/flat-site/about.md
  hugo-generator/test-fixtures/flat-site/contact.md
  hugo-generator/test-fixtures/flat-site/index.md
  hugo-generator/vitest.config.e2e.ts
Due: none

fix: remove Hugo asset pipeline from baseof template
  hugo-generator/dist/main.bundle.js
  hugo-generator/dist/templates.d.ts.map
  hugo-generator/dist/templates.js
  hugo-generator/dist/templates.js.map
  hugo-generator/src/templates.ts
Due: none

chore: add better error reporting for Hugo E2E tests
  hugo-generator/dist/__tests__/hugo.e2e.js
  hugo-generator/dist/__tests__/hugo.e2e.js.map
  hugo-generator/src/__tests__/hugo.e2e.ts
Due: none

chore: add directory listing debug for Hugo E2E tests
  hugo-generator/dist/__tests__/hugo.e2e.js
  hugo-generator/dist/__tests__/hugo.e2e.js.map
  hugo-generator/src/__tests__/hugo.e2e.ts
Due: none

chore: add more verbose Hugo debugging (print config, no --quiet)
  hugo-generator/dist/__tests__/hugo.e2e.js
  hugo-generator/dist/__tests__/hugo.e2e.js.map
  hugo-generator/src/__tests__/hugo.e2e.ts
Due: none

chore: simplify Hugo E2E test runner, use execSync with error capture
  hugo-generator/dist/__tests__/hugo.e2e.js
  hugo-generator/dist/__tests__/hugo.e2e.js.map
  hugo-generator/src/__tests__/hugo.e2e.ts
Due: none

chore: use spawnSync and --logLevel debug for Hugo E2E tests
  hugo-generator/dist/__tests__/hugo.e2e.js
  hugo-generator/dist/__tests__/hugo.e2e.js.map
  hugo-generator/src/__tests__/hugo.e2e.ts
Due: none

chore: add extensive debugging for Hugo E2E test failures
  .github/workflows/test.yml
  hugo-generator/src/__tests__/hugo.e2e.ts
Due: none

fix: move disableKinds before [permalinks] section in hugo.toml
  hugo-generator/dist/__tests__/hugo.e2e.js
  hugo-generator/dist/__tests__/hugo.e2e.js.map
  hugo-generator/dist/main.bundle.js
  hugo-generator/dist/structure.js
  hugo-generator/src/__tests__/hugo.e2e.ts
  hugo-generator/src/structure.ts
Due: none

chore: remove debugging output from E2E tests
  .github/workflows/test.yml
  hugo-generator/src/__tests__/hugo.e2e.ts
Due: none

feat(matters-syndicator): fix image newlines, add timeout handling, and unauthenticated mode
  matters-syndicator/src/__tests__/config.test.ts
  matters-syndicator/src/__tests__/converter.test.ts
  matters-syndicator/src/__tests__/downloader.test.ts
  matters-syndicator/src/__tests__/sync.test.ts
  matters-syndicator/src/config.ts
  matters-syndicator/src/converter.ts
  matters-syndicator/src/downloader.ts
  matters-syndicator/src/main.ts
Due: matters-syndicator

refactor(matters-syndicator): simplify downloader, delegate concurrency to Rust
  matters-syndicator/features/steps/download.steps.ts
  matters-syndicator/src/__tests__/downloader.test.ts
  matters-syndicator/src/downloader.ts
Due: matters-syndicator

test(downloader): add integration tests for self-correcting reference updates
  matters-syndicator/src/__tests__/downloader.test.ts
Due: matters-syndicator

feat: update plugins for capability-based hooks
  github-deployer/assets/manifest.json
  github-deployer/src/main.ts
  github-deployer/src/utils.ts
  matters-syndicator/assets/manifest.json
  matters-syndicator/src/main.ts
Due: github-deployer, matters-syndicator

refactor: use parameterless getPluginCookie for matters plugin
  matters/src/api.ts
  matters/src/main.ts
  matters/vitest.config.ts
Due: none

chore: update @symbiosis-lab/moss-api to ^0.4.0
  github/package-lock.json
  github/package.json
  matters/package-lock.json
  matters/package.json
Due: none

feat(github-deployer): add browser-based GitHub login via OAuth Device Flow
  github/assets/manifest.json
  github/dist/auth.d.ts
  github/dist/auth.d.ts.map
  github/dist/auth.js
  github/dist/auth.js.map
  github/dist/main.bundle.js
  github/dist/main.d.ts
  github/dist/main.d.ts.map
  github/dist/main.js
  github/dist/main.js.map
  github/dist/manifest.json
  github/dist/token.d.ts
  github/dist/token.d.ts.map
  github/dist/token.js
  github/dist/token.js.map
  github/dist/types.d.ts
  github/dist/types.d.ts.map
  github/dist/validation.d.ts
  github/dist/validation.d.ts.map
  github/dist/validation.js
  github/dist/validation.js.map
  github/features/auth/device-flow.feature
  github/features/steps/auth.steps.ts
  github/package-lock.json
  github/package.json
  github/src/__tests__/auth.test.ts
  github/src/__tests__/token.test.ts
  github/src/__tests__/validation.test.ts
  github/src/auth.ts
  github/src/main.ts
  github/src/token.ts
  github/src/types.ts
  github/src/validation.ts
  github/test-helpers/mock-github-api.ts
  github/vitest.config.ts
Due: none

test(github-deployer): add integration tests and BDD scenarios for deploy validation
  github/features/deploy/validation.feature
  github/features/steps/deploy.steps.ts
  github/package-lock.json
  github/src/__tests__/deploy.integration.test.ts
  github/vitest.config.ts
Due: none

chore: remove intermediate build artifacts from dist
  github/dist/auth.d.ts
  github/dist/auth.d.ts.map
  github/dist/auth.js
  github/dist/auth.js.map
  github/dist/git.d.ts
  github/dist/git.d.ts.map
  github/dist/git.js
  github/dist/git.js.map
  github/dist/main.d.ts
  github/dist/main.d.ts.map
  github/dist/main.js
  github/dist/main.js.map
  github/dist/token.d.ts
  github/dist/token.d.ts.map
  github/dist/token.js
  github/dist/token.js.map
  github/dist/types.d.ts
  github/dist/types.d.ts.map
  github/dist/types.js
  github/dist/types.js.map
  github/dist/utils.d.ts
  github/dist/utils.d.ts.map
  github/dist/utils.js
  github/dist/utils.js.map
  github/dist/validation.d.ts
  github/dist/validation.d.ts.map
  github/dist/validation.js
  github/dist/validation.js.map
  github/dist/workflow.d.ts
  github/dist/workflow.d.ts.map
  github/dist/workflow.js
  github/dist/workflow.js.map
Due: none

fix: update to moss-api 0.4.0 cookie API
  github/dist/main.bundle.js
  github/dist/manifest.json
  github/package-lock.json
  github/src/auth.ts
  github/src/main.ts
  github/src/token.ts
Due: none

feat: migrate plugins to context-aware moss-api
  github/dist/git.d.ts
  github/dist/git.d.ts.map
  github/dist/git.js
  github/dist/git.js.map
  github/dist/main.bundle.js
  github/dist/main.d.ts
  github/dist/main.d.ts.map
  github/dist/main.js
  github/dist/main.js.map
  github/dist/manifest.json
  github/dist/utils.js
  github/dist/utils.js.map
  github/dist/validation.d.ts
  github/dist/validation.d.ts.map
  github/dist/validation.js
  github/dist/validation.js.map
  github/dist/workflow.d.ts
  github/dist/workflow.d.ts.map
  github/dist/workflow.js
  github/dist/workflow.js.map
  github/package-lock.json
  github/package.json
  github/src/__tests__/validation.test.ts
  github/src/git.ts
  github/src/main.ts
  github/src/validation.ts
  github/src/workflow.ts
  matters/features/steps/download.steps.ts
  matters/package-lock.json
  matters/package.json
  matters/src/__tests__/config.test.ts
  matters/src/__tests__/downloader.test.ts
  matters/src/config.ts
  matters/src/downloader.ts
  matters/src/main.ts
  matters/src/sync.ts
  matters/src/utils.ts
Due: none

chore(github): optimize dist to only emit required files
  github/dist/git.d.ts
  github/dist/git.d.ts.map
  github/dist/git.js
  github/dist/git.js.map
  github/dist/main.d.ts
  github/dist/main.d.ts.map
  github/dist/main.js
  github/dist/main.js.map
  github/dist/types.d.ts
  github/dist/types.d.ts.map
  github/dist/types.js
  github/dist/types.js.map
  github/dist/utils.d.ts
  github/dist/utils.d.ts.map
  github/dist/utils.js
  github/dist/utils.js.map
  github/dist/validation.d.ts
  github/dist/validation.d.ts.map
  github/dist/validation.js
  github/dist/validation.js.map
  github/dist/workflow.d.ts
  github/dist/workflow.d.ts.map
  github/dist/workflow.js
  github/dist/workflow.js.map
  github/package.json
  github/tsconfig.json
Due: none

Path conditions:
  github-deployer: any of: github-deployer/
  matters-syndicator: any of: matters-syndicator/
