Repository Symbiosis-Lab/moss-plugins: changes, and which Codecov flags are due for each by the changed paths.
All: github, matters, email

feat(matters): upload local images to Matters CDN during syndication
  matters/src/__tests__/main.test.ts
  matters/src/api.ts
  matters/src/main.ts
Due: matters

feat(matters): draft tracking & reuse to prevent duplicate drafts
  matters/src/__tests__/main.test.ts
  matters/src/main.ts
Due: matters

fix(review): align cover image with text by resetting global img margin
  review/browser/review.css
Due: none

fix(review): open external links in new tab so visitors stay on the article
  review/src/__tests__/render.test.ts
  review/src/render.ts
Due: none

fix(matters): encode cover URLs, detect browser close, use round close button
  matters/src/__tests__/main.test.ts
  matters/src/main.ts
Due: matters

fix(matters): upload cover after draft creation with entityId
  matters/src/__tests__/main.test.ts
  matters/src/api.ts
  matters/src/main.ts
Due: matters

fix(review): remove dead renderHeader import that broke plugin build
  review/src/main.ts
Due: none

fix(review): move colophon to after-title slot (beginning of article)
  review/src/main.ts
Due: none

fix(github): auto-recover from corrupt .git during deploy
  github/src/__tests__/github-deploy.test.ts
  github/src/github-deploy.ts
Due: github

fix(deploy): progress bar visibility, incremental upload, and article liveness check
  github/src/__tests__/github-deploy.test.ts
  github/src/__tests__/progress-timeout.test.ts
  github/src/__tests__/repo-setup-progress.test.ts
  github/src/constants.ts
  github/src/github-deploy.ts
  github/src/main.ts
  github/src/repo-setup.ts
  matters/src/__tests__/syndication.test.ts
  matters/src/main.ts
Due: github, matters

fix(plugins): unblock plugin UI during compilation and fix comment plugin loading
  comment/package.json
  comment/src/__tests__/i18n.test.ts
  comment/src/__tests__/render.test.ts
  comment/src/render.ts
Due: none

refactor(comment): remove DOMPurify — server already sanitizes HTML
  comment/package.json
  comment/src/__tests__/i18n.test.ts
  comment/src/__tests__/render.test.ts
  comment/src/render.ts
Due: none

fix(deploy): stage only site files before gh-pages push, defer source backup
  github/src/__tests__/github-deploy.test.ts
  github/src/github-deploy.ts
Due: github

fix(deploy): preserve existing CNAME as safety net + warn on DNS identity error
  github/src/main.ts
Due: github

chore(docs): add content-tree pipeline architecture + plan docs; add review colophon CSS
  review/assets/review.css
Due: none

fix(syndication): capture article URL before async calls in concurrent path, preserve draft title on cover update
  matters/src/__tests__/main.test.ts
  matters/src/main.ts
Due: matters

fix(github): increase git plumbing timeouts for iCloud-synced vaults
  github/src/github-deploy.ts
Due: github

fix(matters): fetch comments for all articles, not just new ones
  matters/src/__tests__/api.test.ts
  matters/src/api.ts
  matters/src/main.ts
Due: matters

feat(site): reading controls phase 3 — quote comments, share flow, CJK typography
  comment/browser/moss-comments.css
  comment/src/__tests__/providers/artalk.test.ts
  comment/src/__tests__/render.test.ts
  comment/src/providers/artalk.ts
  comment/src/render.ts
Due: none

feat(deploy): custom domain URLs, pre-deploy safeguard, HTTP verification
  github/src/__tests__/deploy.integration.test.ts
  github/src/main.ts
Due: github

fix(site): review card spacing + CJK text-autospace
  review/browser/review.css
Due: none

fix(comment): send page_title in Artalk comment submissions
  comment/src/__tests__/providers/artalk.test.ts
  comment/src/main.ts
  comment/src/providers/artalk.ts
  comment/src/providers/index.ts
  comment/src/types.ts
Due: none

fix(tests): update tests for delta-based divider drag, belowTitlebar param, and unused vars
  matters/src/main.ts
Due: matters

fix(matters): skip re-downloading comments deleted by user
  matters/src/__tests__/api.test.ts
  matters/src/api.ts
  matters/src/main.ts
Due: matters

chore: migrate domain from moss.host to mosspub.com
  github/src/workflow.ts
Due: github

rename moss-oracle to moss-seta across moss desktop app
  github/src/main.ts
Due: github

feat(matters): add bound account guard to prevent unwanted article sync
  matters/src/__tests__/binding-guard.test.ts
  matters/src/__tests__/sync.test.ts
  matters/src/config.ts
  matters/src/main.ts
  matters/src/sync.ts
Due: matters

archive: move SSG generator plugins to archived status
  README.md
  astro/ARCHIVED.md
  eleventy/ARCHIVED.md
  gatsby/ARCHIVED.md
  hugo/ARCHIVED.md
  jekyll/ARCHIVED.md
Due: none

fix: nav site-name wraps naturally on mobile, toggle aligns to last row
  docs/screenshots/live-site.png
  planet/README.md
Due: none

feat(syndication): add Substack plugin — pull, push, sync
  substack/assets/icon.svg
  substack/assets/manifest.json
  substack/package.json
  substack/src/__tests__/converter.test.ts
  substack/src/api.ts
  substack/src/config.ts
  substack/src/converter.ts
  substack/src/main.ts
  substack/src/pull.ts
  substack/src/push.ts
  substack/src/sync.ts
  substack/src/types.ts
  substack/test-fixtures/substack-article.html
  substack/vitest.config.ts
Due: none

feat(syndication): add 豆瓣 plugin — structured review pull, push scaffold
  douban/assets/icon.svg
  douban/assets/manifest.json
  douban/package.json
  douban/src/__tests__/converter.test.ts
  douban/src/config.ts
  douban/src/converter.ts
  douban/src/main.ts
  douban/src/pull.ts
  douban/src/push.ts
  douban/src/sync.ts
  douban/src/types.ts
  douban/test-fixtures/book-info.html
  douban/vitest.config.ts
Due: none

Merge feat/adaptive-site-mapping: adaptive flat/organized site detection
  archive/astro/test-fixtures/collections-site/index.md
  archive/astro/test-fixtures/collections-site/posts/post-1.md
  archive/astro/test-fixtures/flat-site/about.md
  archive/astro/test-fixtures/flat-site/index.md
  archive/eleventy/test-fixtures/collections-site/index.md
  archive/eleventy/test-fixtures/collections-site/posts/post-1.md
  archive/eleventy/test-fixtures/flat-site/about.md
  archive/eleventy/test-fixtures/flat-site/index.md
  archive/gatsby/test-fixtures/collections-site/about.md
  archive/gatsby/test-fixtures/collections-site/docs/getting-started.md
  archive/gatsby/test-fixtures/collections-site/index.md
  archive/gatsby/test-fixtures/collections-site/posts/first-post.md
  archive/gatsby/test-fixtures/collections-site/posts/second-post.md
  archive/gatsby/test-fixtures/flat-site/about.md
  archive/gatsby/test-fixtures/flat-site/contact.md
  archive/gatsby/test-fixtures/flat-site/index.md
  archive/hugo/test-fixtures/collections-site/index.md
  archive/hugo/test-fixtures/collections-site/posts/index.md
  archive/hugo/test-fixtures/collections-site/posts/post-1.md
  archive/hugo/test-fixtures/collections-site/posts/post-2.md
  archive/hugo/test-fixtures/flat-site/about.md
  archive/hugo/test-fixtures/flat-site/contact.md
  archive/hugo/test-fixtures/flat-site/index.md
  archive/jekyll/test-fixtures/collections-site/index.md
  archive/jekyll/test-fixtures/collections-site/posts/index.md
  archive/jekyll/test-fixtures/collections-site/posts/post-1.md
  archive/jekyll/test-fixtures/collections-site/posts/post-2.md
  archive/jekyll/test-fixtures/flat-site/about.md
  archive/jekyll/test-fixtures/flat-site/contact.md
  archive/jekyll/test-fixtures/flat-site/index.md
  matters/test-fixtures/syndication-test-site/input/index.md
  matters/test-fixtures/syndication-test-site/input/posts/rich-test-article.md
Due: matters

refactor: create shared vitest config factory for plugins
  archive/astro/vitest.config.e2e.ts
  archive/astro/vitest.config.ts
  archive/eleventy/vitest.config.e2e.ts
  archive/eleventy/vitest.config.ts
  archive/gatsby/vitest.config.e2e.ts
  archive/gatsby/vitest.config.ts
  archive/hugo/vitest.config.e2e.ts
  archive/hugo/vitest.config.ts
  archive/jekyll/vitest.config.e2e.ts
  archive/jekyll/vitest.config.ts
  douban/vitest.config.ts
  github/vitest.config.ts
  linkedin/vitest.config.ts
  matters/vitest.config.ts
  substack/vitest.config.ts
  vitest.shared.ts
  x/vitest.config.ts
  xiaohongshu/vitest.config.ts
Due: github, matters

fix: resolve 240+ Dependabot security alerts
  archive/astro/package-lock.json
  archive/eleventy/package-lock.json
  archive/gatsby/package-lock.json
  archive/hugo/package-lock.json
  archive/jekyll/package-lock.json
  github/package-lock.json
  matters/package-lock.json
Due: github, matters

fix: GitHub Pages deploy pushes from .moss/build/site/ (not stale .moss/site/)
  github/features/deploy/validation.feature
  github/features/steps/deploy.steps.ts
  github/src/__tests__/deploy.integration.test.ts
  github/src/__tests__/github-deploy.test.ts
  github/src/__tests__/workflow.test.ts
  github/src/github-deploy.ts
  github/src/main.ts
  github/src/workflow.ts
Due: github

fix: deploy heartbeat re-emits last known step instead of hardcoded 5/10
  github/src/main.ts
Due: github

fix: remove index.lock before write-tree to handle iCloud re-locking
  github/src/__tests__/github-deploy.test.ts
  github/src/github-deploy.ts
Due: github

Path conditions:
  github: any of: github/
  matters: any of: matters/
  email: any of: email/
