Repository Symbiosis-Lab/moss-plugins: changes, and which Codecov flags are due for each by the changed paths.
All: github, matters, email

feat(git-resolve): add resolve_git_path command and plugin integration
  github/src/__tests__/deploy.integration.test.ts
  github/src/__tests__/github-deploy.test.ts
  github/src/github-deploy.ts
  github/src/main.ts
  github/src/token.ts
Due: github

fix(git-resolve): address code review feedback
  github/src/main.ts
Due: github

fix(download): enforce max size during streaming + add fallback warning
  github/src/main.ts
Due: github

docs(comment): add Artalk as recommended provider in SETUP.md
  comment/docs/SETUP.md
Due: none

feat(comment): add Artalk provider with TDD
  comment/assets/manifest.json
  comment/browser/moss-comments.css
  comment/package.json
  comment/src/__tests__/providers/artalk.test.ts
  comment/src/__tests__/providers/index.test.ts
  comment/src/__tests__/render.test.ts
  comment/src/main.ts
  comment/src/providers/artalk.ts
  comment/src/providers/index.ts
  comment/src/render.ts
  comment/vitest.config.ts
Due: none

fix(comment): resolve TS type error and improve Artalk error handling
  comment/src/__tests__/providers/artalk.test.ts
  comment/src/providers/artalk.ts
Due: none

fix(comment): correct Caddyfile port and add site_name validation
  comment/docs/SETUP.md
  comment/src/main.ts
Due: none

fix(comment): prevent </script> injection and remove dead hidden input
  comment/src/__tests__/providers/artalk.test.ts
  comment/src/__tests__/render.test.ts
  comment/src/client-js.ts
  comment/src/render.ts
Due: none

docs(comment): add Artalk form screenshots for PR
  comment/docs/screenshots/artalk-desktop.png
  comment/docs/screenshots/artalk-mobile.png
Due: none

feat(comment): add optional website field to Artalk form
  comment/src/__tests__/providers/artalk.test.ts
  comment/src/__tests__/render.test.ts
  comment/src/providers/artalk.ts
  comment/src/render.ts
Due: none

docs(comment): update screenshots with website field
  comment/docs/screenshots/artalk-form-desktop.png
  comment/docs/screenshots/artalk-form-mobile.png
Due: none

refactor(comment): textarea-first form layout with standalone website field
  comment/browser/moss-comments.css
  comment/docs/screenshots/artalk-form-desktop.png
  comment/docs/screenshots/artalk-form-mobile.png
  comment/src/__tests__/render.test.ts
  comment/src/render.ts
Due: none

docs(plugin): add Planet IPFS syndicator plugin proposal
  README.md
  planet/README.md
Due: none

refactor(plugins): migrate plugin configs to unified binary resolver types
  astro/src/__tests__/main.test.ts
  astro/src/astro-config.ts
  astro/src/main.ts
  eleventy/src/__tests__/main.test.ts
  eleventy/src/eleventy-config.ts
  eleventy/src/main.ts
  gatsby/src/__tests__/main.test.ts
  gatsby/src/gatsby-config.ts
  gatsby/src/main.ts
  hugo/src/__tests__/main.test.ts
  hugo/src/hugo-config.ts
  hugo/src/main.ts
  jekyll/src/__tests__/main.test.ts
  jekyll/src/jekyll-config.ts
  jekyll/src/main.ts
Due: none

fix: configure GitHub Pages to serve from gh-pages branch
  github/src/__tests__/deploy.integration.test.ts
  github/src/__tests__/github-api.test.ts
  github/src/github-api.ts
  github/src/main.ts
Due: github

refactor: remove deprecated log() wrapper from plugins and moss-api
  github/features/steps/deploy.steps.ts
  github/src/__tests__/auth-flow.integration.test.ts
  github/src/__tests__/auth.test.ts
  github/src/__tests__/deploy.integration.test.ts
  github/src/__tests__/github-api.test.ts
  github/src/__tests__/github-deploy.test.ts
  github/src/__tests__/repo-setup-progress.test.ts
  github/src/__tests__/repo-setup.test.ts
  github/src/__tests__/token.test.ts
  github/src/__tests__/utils.test.ts
  github/src/__tests__/workflow.test.ts
  github/src/auth.ts
  github/src/github-api.ts
  github/src/main.ts
  github/src/repo-setup.ts
  github/src/token.ts
  github/src/utils.ts
  github/src/workflow.ts
  matters/src/downloader.ts
  matters/src/utils.ts
Due: github, matters

fix: enhance hook now initializes plugins and reads site output files
  email/dist/main.bundle.js
  email/src/__tests__/enhance.test.ts
  email/src/enhance.ts
Due: email

fix: run enhance hooks after API key save so footer appears immediately
  email/src/__tests__/enhance.test.ts
Due: email

chore: remove dead code and fix vitest config scoping (#259, #257, #238)
  astro/vitest.config.ts
  comment/vitest.config.ts
  eleventy/vitest.config.ts
  email/vitest.config.ts
  gatsby/vitest.config.ts
  github/src/__tests__/deploy.integration.test.ts
  github/vitest.config.ts
  hugo/vitest.config.ts
  jekyll/vitest.config.ts
  matters/vitest.config.ts
  nostr/vitest.config.ts
Due: github, matters, email

fix(ci): add test:coverage script to comment and email plugins
  comment/package.json
  email/package.json
Due: email

fix(matters): recognize renamed files via syndicated frontmatter
  matters/src/__tests__/sync.test.ts
  matters/src/sync.ts
Due: matters

fix: resolve pre-existing TS errors in github plugin
  github/src/repo-setup.ts
  github/tsconfig.json
Due: github

fix(ci): run only unit tests in matters plugin CI coverage
  matters/package.json
Due: matters

fix(ci): exclude E2E tests from github plugin test:coverage
  github/vitest.config.ts
Due: github

feat(matters): add weighted progress estimation for monotonic 0-100%
  matters/src/__tests__/progress.test.ts
  matters/src/downloader.ts
  matters/src/main.ts
  matters/src/progress.ts
  matters/src/sync.ts
Due: matters

fix: address code review findings
  matters/src/__tests__/progress.test.ts
  matters/src/main.ts
  matters/src/progress.ts
Due: matters

fix: resolve 5 production issues from 0.3.26 logs
  matters/src/__tests__/api.test.ts
  matters/src/api.ts
Due: matters

feat(matters): rekey social data by uid from frontmatter instead of file path
  matters/src/__tests__/social-integration.test.ts
  matters/src/__tests__/sync.test.ts
  matters/src/main.ts
  matters/src/sync.ts
Due: matters

feat(comment): add process hook to fetch comments from server
  comment/assets/manifest.json
  comment/src/__tests__/fetcher.test.ts
  comment/src/__tests__/process.test.ts
  comment/src/__tests__/social-writer.test.ts
  comment/src/fetcher.ts
  comment/src/main.ts
  comment/src/social-writer.ts
  comment/src/types.ts
Due: none

feat(comment): use uid for comment resolution and client-side forms
  comment/src/__tests__/client-js-uid.test.ts
  comment/src/__tests__/enhance.test.ts
  comment/src/__tests__/providers/artalk.test.ts
  comment/src/__tests__/social-reader.test.ts
  comment/src/client-js.ts
  comment/src/main.ts
  comment/src/providers/artalk.ts
  comment/src/providers/index.ts
  comment/src/providers/waline.ts
  comment/src/social-reader.ts
Due: none

feat: auto-detect comment provider instead of requiring manual config
  comment/assets/manifest.json
  comment/docs/SETUP.md
  comment/src/__tests__/enhance.test.ts
  comment/src/__tests__/fetcher.test.ts
  comment/src/__tests__/process.test.ts
  comment/src/fetcher.ts
  comment/src/main.ts
Due: none

feat: redesign footer with underline input and solid button
  email/src/__tests__/enhance.test.ts
  email/src/enhance.ts
Due: email

fix: use .moss-site-label instead of duplicate .footer-email-label
  email/src/enhance.ts
Due: email

refactor: modularize CSS into shared tokens, primitives, and site-specific files
  email/src/enhance.ts
Due: email

feat: make GitHub plugin configure_domain hook idempotent
  github/src/__tests__/configure-domain.test.ts
  github/src/github-api.ts
  github/src/main.ts
Due: github

fix: address code review findings
  github/src/__tests__/configure-domain.test.ts
Due: github

fix: domain polling cache-bust, early exit, and setCustomDomain 404 retry
  github/src/__tests__/github-api.test.ts
  github/src/github-api.ts
Due: github

fix: footer design — inline layout, correct labels, rebuild bundle
  email/dist/main.bundle.js
  email/src/__tests__/enhance.test.ts
  email/src/enhance.ts
Due: email

feat(matters): add knownCollectionIds config and fetchAllDraftsSince API
  matters/src/api.ts
  matters/src/config.ts
Due: matters

feat(matters): apply incremental sync to drafts, collections, and social data
  matters/src/main.ts
Due: matters

Path conditions:
  github: any of: github/
  matters: any of: matters/
  email: any of: email/
