Repository Symbiosis-Lab/moss-plugins: changes, and which Codecov flags are due for each by the changed paths.
All: github, matters

fix: improve binary-resolver e2e test reliability
  .github/workflows/test.yml
  hugo/src/__tests__/binary-resolver.e2e.ts
Due: none

ci: consolidate CI checks from 15 to 5
  .github/workflows/test.yml
Due: none

fix: correct BinaryConfig type for SSG plugins
  astro-generator/dist/main.bundle.js
  astro-generator/src/astro-config.ts
  eleventy-generator/dist/main.bundle.js
  eleventy-generator/src/eleventy-config.ts
  gatsby-generator/dist/main.bundle.js
  gatsby-generator/src/gatsby-config.ts
  jekyll-generator/dist/main.bundle.js
  jekyll-generator/src/jekyll-config.ts
Due: none

docs: add README documentation for all SSG plugins
  astro/README.md
  eleventy/README.md
  gatsby/README.md
  hugo/README.md
  jekyll/README.md
Due: none

docs: add README documentation for all SSG plugins (#17)
  astro/README.md
  eleventy/README.md
  gatsby/README.md
  hugo/README.md
  jekyll/README.md
Due: none

Add .worktrees/ to gitignore for isolated development
  .gitignore
Due: none

Remove updateGitignore() function
  github/src/__tests__/workflow.test.ts
  github/src/workflow.ts
Due: github

Fix Bug 24: Recover from stale worktrees blocking deployment
  github/src/__tests__/deploy.integration.test.ts
  github/src/git.ts
Due: github

Add comprehensive tests for Bug 24 stale worktree recovery
  github/src/__tests__/deploy.integration.test.ts
Due: github

Add utils.ts tests and exclude types.ts from coverage
  github/src/__tests__/utils.test.ts
  github/vitest.config.ts
Due: github

Track .moss directory for reproducibility + fix stale worktree bug (#18)
  .gitignore
  github/src/__tests__/deploy.integration.test.ts
  github/src/__tests__/utils.test.ts
  github/src/__tests__/workflow.test.ts
  github/src/git.ts
  github/src/workflow.ts
  github/vitest.config.ts
Due: github

feat(github): early change detection to skip worktree operations
  github/src/__tests__/deploy.integration.test.ts
  github/src/git.ts
  github/src/main.ts
Due: github

feat(e2e): update plugin tests for --wait-plugins support
  .github/workflows/test.yml
  github/e2e/moss-cli.test.ts
Due: github

feat(github): early change detection to skip worktree operations (#19)
  github/src/__tests__/deploy.integration.test.ts
  github/src/git.ts
  github/src/main.ts
Due: github

feat(e2e): update plugin tests for --wait-plugins support (#20)
  .github/workflows/test.yml
  github/e2e/moss-cli.test.ts
Due: github

feat(e2e): add comprehensive e2e tests for plugins with --wait-plugins
  .github/workflows/test.yml
  github/e2e/moss-cli.test.ts
  matters/e2e/moss-cli.test.ts
  matters/package.json
  matters/vitest.config.ts
  nostr/e2e/moss-cli.test.ts
  nostr/package.json
  nostr/vitest.config.ts
  package-lock.json
Due: github, matters

fix(matters): fix TypeScript errors in syndication code
  matters/src/main.ts
Due: matters

feat(e2e): add comprehensive e2e tests for plugins with --wait-plugins (#22)
  .github/workflows/test.yml
  github/e2e/moss-cli.test.ts
  matters/e2e/moss-cli.test.ts
  matters/package.json
  matters/src/main.ts
  matters/vitest.config.ts
  nostr/e2e/moss-cli.test.ts
  nostr/package.json
  nostr/vitest.config.ts
  package-lock.json
Due: github, matters

Add toast notifications to GitHub deploy plugin
  github/src/main.ts
  package-lock.json
Due: github

chore: bump moss-api to 0.7.2 for Toast type support
  github/package-lock.json
  github/package.json
Due: github

Add toast notifications to GitHub deploy plugin (#21)
  github/package-lock.json
  github/package.json
  github/src/main.ts
  package-lock.json
Due: github

feat(nostr): add signer abstraction and SSG-aware widget injection
  nostr/docs/comment-widget.md
  nostr/src/__tests__/enhance.test.ts
  nostr/src/main.ts
  nostr/src/signers/__tests__/signer.test.ts
  nostr/src/signers/index.ts
  nostr/src/signers/local.ts
  nostr/src/signers/nip07.ts
  nostr/src/signers/types.ts
  nostr/src/widget/__tests__/inject.test.ts
  nostr/src/widget/inject.ts
Due: none

feat(matters): add toast notifications during syndication
  matters/src/main.ts
Due: matters

test: add comprehensive SSG e2e tests for comment widget injection
  nostr/e2e/fixtures/astro/post.html
  nostr/e2e/fixtures/edge-cases/minimal.html
  nostr/e2e/fixtures/edge-cases/multiple-main.html
  nostr/e2e/fixtures/edge-cases/nested-articles.html
  nostr/e2e/fixtures/edge-cases/no-article.html
  nostr/e2e/fixtures/edge-cases/unicode-content.html
  nostr/e2e/fixtures/edge-cases/xss-in-content.html
  nostr/e2e/fixtures/eleventy/post.html
  nostr/e2e/fixtures/hexo/post.html
  nostr/e2e/fixtures/hugo/post.html
  nostr/e2e/fixtures/jekyll/post.html
  nostr/e2e/fixtures/zola/post.html
  nostr/e2e/moss-cli.test.ts
  nostr/e2e/ssg-injection.test.ts
  nostr/src/__tests__/enhance-ssg.test.ts
Due: none

fix: handle uppercase HTML tags in widget injection
  nostr/e2e/fixtures/edge-cases/comments-in-html.html
  nostr/e2e/fixtures/edge-cases/empty-body.html
  nostr/e2e/fixtures/edge-cases/no-doctype.html
  nostr/e2e/fixtures/edge-cases/script-with-html.html
  nostr/e2e/fixtures/edge-cases/self-closing-tags.html
  nostr/e2e/fixtures/edge-cases/style-with-html.html
  nostr/e2e/fixtures/edge-cases/uppercase-tags.html
  nostr/e2e/ssg-injection.test.ts
  nostr/src/widget/inject.ts
Due: none

chore(matters): update @symbiosis-lab/moss-api to ^0.7.3
  matters/package-lock.json
  matters/package.json
Due: matters

chore(matters): update moss-api to 0.7.3 for showToast support
  matters/package-lock.json
  matters/package.json
Due: matters

feat(matters): add toast notifications during syndication (#23)
  matters/package-lock.json
  matters/package.json
  matters/src/main.ts
Due: matters

fix: handle uppercase HTML tags in widget injection
  nostr/e2e/fixtures/edge-cases/comments-in-html.html
  nostr/e2e/fixtures/edge-cases/empty-body.html
  nostr/e2e/fixtures/edge-cases/no-doctype.html
  nostr/e2e/fixtures/edge-cases/script-with-html.html
  nostr/e2e/fixtures/edge-cases/self-closing-tags.html
  nostr/e2e/fixtures/edge-cases/style-with-html.html
  nostr/e2e/fixtures/edge-cases/uppercase-tags.html
  nostr/e2e/ssg-injection.test.ts
Due: none

test: add comprehensive SSG e2e tests for comment widget injection
  nostr/e2e/fixtures/astro/post.html
  nostr/e2e/fixtures/edge-cases/minimal.html
  nostr/e2e/fixtures/edge-cases/multiple-main.html
  nostr/e2e/fixtures/edge-cases/nested-articles.html
  nostr/e2e/fixtures/edge-cases/no-article.html
  nostr/e2e/fixtures/edge-cases/unicode-content.html
  nostr/e2e/fixtures/edge-cases/xss-in-content.html
  nostr/e2e/fixtures/eleventy/post.html
  nostr/e2e/fixtures/hexo/post.html
  nostr/e2e/fixtures/hugo/post.html
  nostr/e2e/fixtures/jekyll/post.html
  nostr/e2e/fixtures/zola/post.html
  nostr/e2e/ssg-injection.test.ts
Due: none

test: replace HTML fixtures with md-based pipeline tests
  nostr/e2e/fixtures/astro/post.html
  nostr/e2e/fixtures/edge-cases/comments-in-html.html
  nostr/e2e/fixtures/edge-cases/empty-body.html
  nostr/e2e/fixtures/edge-cases/minimal.html
  nostr/e2e/fixtures/edge-cases/multiple-main.html
  nostr/e2e/fixtures/edge-cases/nested-articles.html
  nostr/e2e/fixtures/edge-cases/no-article.html
  nostr/e2e/fixtures/edge-cases/no-doctype.html
  nostr/e2e/fixtures/edge-cases/script-with-html.html
  nostr/e2e/fixtures/edge-cases/self-closing-tags.html
  nostr/e2e/fixtures/edge-cases/style-with-html.html
  nostr/e2e/fixtures/edge-cases/unicode-content.html
  nostr/e2e/fixtures/edge-cases/uppercase-tags.html
  nostr/e2e/fixtures/edge-cases/xss-in-content.html
  nostr/e2e/fixtures/eleventy/post.html
  nostr/e2e/fixtures/hexo/post.html
  nostr/e2e/fixtures/hugo/post.html
  nostr/e2e/fixtures/jekyll/post.html
  nostr/e2e/fixtures/zola/post.html
  nostr/e2e/ssg-injection.test.ts
Due: none

feat(nostr): add Waline-style comment form with signer resolution
  nostr/browser/nostr-social.css
  nostr/browser/nostr-social.ts
Due: none

feat(nostr): add Waline-style comment form with signer resolution (#26)
  nostr/browser/nostr-social.css
  nostr/browser/nostr-social.ts
Due: none

feat(nostr): add browser polling for new comments
  nostr/browser/nostr-social.ts
  nostr/src/main.ts
Due: none

feat(nostr): add browser polling for new comments (#27)
  nostr/browser/nostr-social.ts
  nostr/src/main.ts
Due: none

Path conditions:
  github: any of: github/
  matters: any of: matters/
